@CHARSET "UTF-8";

/* 布局 */
#blocks {
	margin-top: 10px;
}

/* 左边栏目 */
#blocks_left {
	float: left;
	width: 200px;
}

/* 右边栏目 */
#blocks_right {
	float: right;
	width: 760px;
}

/* 菜单 */
#support_menu>.content>.item>.focus {
	/* background-color: #134780; */
	color: RGB(0, 32, 133);
	font-weight: bold;
}

#support_menu>.content>.item>a {
	display: block;
	/* background-color: #CCC; */
	color: #134780;
}

#support_menu>.content>.item>a:hover {
	font-weight: bold;
}

.item_content>div {
	margin-right: 20px;
}
