@CHARSET "UTF-8";

#servicemenu {
	background-color: RGB(246, 246, 246);
	width: 200px;
	padding: 5px;
}

#servicemenu>.block_content .focus {
	font-weight: bold;
	color: RGB(0, 32, 133);
}

#servicemenu>.block_content li {
    padding: 5px;
}