<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
  PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
  "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
	<classPathEntry location="mysql-connector-java-5.1.13-bin.jar" />

	<context id="MySQLTables" targetRuntime="MyBatis3">
		<commentGenerator>
			<property name="suppressAllComments" value="true" />
		</commentGenerator>

		<jdbcConnection driverClass="com.mysql.jdbc.Driver"
			connectionURL="jdbc:mysql://112.124.12.199:3306/inabacms?useUnicode=true&amp;characterEncoding=utf8"
			userId="inaba" password="inabajxfsy;">
		</jdbcConnection>

		<javaTypeResolver>
			<property name="forceBigDecimals" value="false" />
		</javaTypeResolver>

		<javaModelGenerator targetPackage="com.iidooo.cms.dto.generate" targetProject="cms">
			<property name="enableSubPackages" value="true" />
			<property name="trimStrings" value="true" />
		</javaModelGenerator>

		<sqlMapGenerator targetPackage="com.iidooo.cms.dao.generate" targetProject="cms">
			<property name="enableSubPackages" value="true" />
		</sqlMapGenerator>

		<javaClientGenerator type="XMLMAPPER" targetPackage="com.iidooo.cms.dao.generate" targetProject="cms">
			<property name="enableSubPackages" value="true" />
		</javaClientGenerator>
				<!--
		<table schema="inabacms" tableName="IDO_CMS_CHANNEL" domainObjectName="CmsChannel"
		enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false"
		enableSelectByExample="false" selectByExampleQueryId="false">
			<property name="useActualColumnNames" value="true" />
		</table>		
		
		<table schema="inabacms" tableName="IDO_CMS_TEMPLATE" domainObjectName="CmsTemplate"
		enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false"
		enableSelectByExample="false" selectByExampleQueryId="false">
			<property name="useActualColumnNames" value="true" />
		</table>	
	-->
		
		<table schema="inabacms" tableName="IDO_CMS_CONTENT" domainObjectName="CmsContent"
		enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false"
		enableSelectByExample="false" selectByExampleQueryId="false">
			<property name="useActualColumnNames" value="true" />
		</table>
				
		<!--
		<table schema="IDOCMS" tableName="IDO_CMS_CONTENT_TAG" domainObjectName="CmsContentTag"
		enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false"
		enableSelectByExample="false" selectByExampleQueryId="false">
			<property name="useActualColumnNames" value="true" />
		</table>	

		<table schema="IDOCMS" tableName="IDO_CMS_ATTACH_ALBUM" domainObjectName="CmsAttachAlbum"
		enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false"
		enableSelectByExample="false" selectByExampleQueryId="false">
			<property name="useActualColumnNames" value="true" />
		</table>
		
		<table schema="IDOCMS" tableName="IDO_CMS_ATTACH" domainObjectName="CmsAttach"
		enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false"
		enableSelectByExample="false" selectByExampleQueryId="false">
			<property name="useActualColumnNames" value="true" />
		</table>	
		
		<table schema="IDOCMS" tableName="IDO_CMS_STATISTICS" domainObjectName="CmsStatistics"
		enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false"
		enableSelectByExample="false" selectByExampleQueryId="false">
			<property name="useActualColumnNames" value="true" />
		</table>	

		<table schema="IDOCMS" tableName="IDO_CMS_COMMENT" domainObjectName="CmsComment"
		enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false"
		enableSelectByExample="false" selectByExampleQueryId="false">
			<property name="useActualColumnNames" value="true" />
		</table>
		-->
	</context>
</generatorConfiguration>