@CHARSET "UTF-8";

.body_wrap {
	width: 100%;
	height: 100%;
	background: url(../image/login/bg.jpg) top repeat-x;
}

.auth_form {
	border-radius: 3px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.075);
	width: 400px;
	margin: 60px auto;
}

.auth_form_header {
	position: relative;
	padding: 10px 20px;
	margin: 0;
	color: white;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
	background-color: #829AA8;
	border: 1px solid #768995;
	border-radius: 3px 3px 0 0;
}

.auth_form_body {
	padding: 20px;
	font-size: 14px;
	background-color: white;
	border: 1px solid #D8DEE2;
	border-top: 0;
	border-radius: 0 0 3px 3px;
}

label {
	font-size: 13px;
	font-weight: bold;
}

.input_text {
	margin-top: 5px;
	margin-bottom: 15px;
	display: block;
	width: 100%;
	height: 30px;
}

button {
	position: relative;
	display: inline-block;
	padding: 7px 12px;
	font-size: 13px;
	font-weight: bold;
	color: #333;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	background-color: #EEE;
	background-image: -webkit-linear-gradient(#FCFCFC, #EEE);
	background-image: linear-gradient(#FCFCFC, #EEE);
	background-repeat: repeat-x;
	border: 1px solid #D5D5D5;
	border-radius: 3px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-appearance: none
}

button:hover {
	background-color: #CCC;
}