@CHARSET "UTF-8";

#comicContent>.left_block_wrap {
	float: left;
	width: 310px;
}

#comicContent>.right_block_wrap {
	float: right;
	width: 660px;
}

#comicContent .titleImage {
	margin-left: 15px;
	width:120px;
	height:160px;
}

#comicContent .comicInfo {
	overflow: hidden;
}

.albums li {
	float: left;
	width: 40px;
	margin-right: 10px;
	height: 32px;
	padding-top: 4px;
	overflow-x: hidden;
	position: relative;
}

.albums li a {
	display: block;
	text-decoration: none;
	white-space: nowrap;
	font-size: 12px;
	color: #333;
	padding-bottom: 4px;
}

.albums li a:hover {
	color: red;
	cursor: pointer;
	font-weight: bold;
}