@CHARSET "UTF-8";

.left_block_wrap>#left_block_1 {
	
}

.right_block_wrap>#right_block_1 {
	height: 240px;
}

.comicList li {
	float: left;
	background: url(../img/cover_bg.gif) center 0 no-repeat;
	width: 144px;
	height: 194px;
	text-align: center;
	line-height: 2.0em;
	overflow: hidden;
	position: relative;
}

.comicList li .subTitle {
	width: 120px;
	margin-left: 9px;
	position: absolute;
	background: black;
	color: white;
	opacity: 0.6;
	height: 20px;
	line-height: 20px;
	top: 142px;
}

.comicTitleList li {
	float: left;
	width: 100px;
}

.comicList img {
	width: 120px;
	height: 160px;
	display: block;
	margin: 1px auto 8px;
	margin-right: 15px;
}