.input-error {
    border-color: #de615e;
}

.required {
    color: red;
}

.img-square-50{
    width: 50px;
    height: 50px;
}

.img-square-100{
    width: 100px;
    height: 100px;
}

.img-square-200{
    width: 200px;
    height: 200px;
}

.img-rect-200x100{
    width: 200px;
    height: 100px;
}

.width-200{
    width: 200px;
}

.margin-right-10{
    margin-right: 10px;
}

.float-left{
    float: left;
}

/*超出宽度就换行*/
.break-word{
    word-wrap:break-word;
}

/*将对象呈递为内联对象，但是对象的内容作为块对象呈递。旁边的内联对象会被呈递在同一行内*/
.inline-block{
    display: inline-block;
}