#contentSummary{
    height: 100px;
}

#txtSummaryPreview {
    height: 100px;
}

#contentBody{
    height: 500px;
}

#inputContentBody{
    height: 500px;
}

#txtContentBodyPreview{
    height: 500px;
}

.markdownPreview {
    overflow-y: scroll;
    word-break: break-all;
    background-color: lightcyan;
}

.markdownPreview pre{
    background-color: rgba(245, 245, 245, 1.0);
    border:1px solid rgba(220, 220, 220, 1.0);
    white-space: pre-wrap;
    padding: 10px;
}

.markdownPreview blockquote {
    padding: 10px;
    margin: 0px;
    border-left: 5px solid rgba(220, 220, 220, 1.0);
}

.markdownPreview img{
    max-width: 100%;
}

.markdownPreview p {
    white-space: pre-line;
}

.content-picture{
    margin-right: 5px;
    margin-bottom: 5px;
}