<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="keywords" content="${currentChannel.metaKeyworlds}">
<meta name=description content="${currentChannel.metaDescription}">
<title>${currentChannel.metaTitle}</title>
<#include "../include/head.html"/>
<link type="text/css" rel="stylesheet" href="${SESSION_SITE_RES_ROOT}/css/index.css">
</head>
<body>
	<#include "../include/top.html"/>
    <#include "../include/mainmenu.html"/>
    <div id="music" class="body_wrap">
    	音乐
    </div>
    <#include "../include/footer.html"/>
</body>
</html>