@CHARSET "UTF-8";

.left_block_wrap {
	float: left;
	width: 70%;
}

.right_block_wrap {
	float: right;
	width: 30%;
}



#nominate{
	padding-right: 10px;
}

#nominate .block_title {
	border-bottom: 2px solid #C1272D;
	background: white;
	height: 37px;
}

#nominate .main_title {
	background: url(../../img/index/mainpage.png);
	background-position: -180px -560px;
	color: #C1272D;
	font-size: 21px;
	padding: 0 20px 0 30px;
	text-align: center;
	line-height: 37px;
	text-transform: uppercase;
	white-space: nowrap;
}

#nominate .block_content_item{	
	width: 220px;
	height: 280px;
	text-align: center;
}

#nominate .block_content_item_image img{
	width: 220px;
	height: 260px;
	margin: 0 auto;
	vertical-align: middle;
	text-align: center;
}

#sales .block_title {
	border: 1px solid #CCC;
	background: white;
	height: 37px;
}

#sales .block_content_item{	
	width: 220px;
	height: 280px;
	text-align: center;
}

#sales .block_content_item_image img{
	width: 220px;
	height: 260px;
	margin: 0 auto;
	vertical-align: middle;
	text-align: center;
}

.product_list li {
	float: left;
	margin-top: 10px;
	width: 243px;
	text-align: center;
	border-bottom: 1px dotted #C1C1C1;
	overflow: hidden;
	margin-bottom: 10px;
}

#slide {
	overflow: hidden;
	width: 100%;
}

#sales .main_title {
	background: url(../../img/index/mainpage.png);
	background-position: -148px -753px;
	color: #C1272D;
	position: absolute;
	font-size: 21px;
	padding: 0 20px 0 30px;
	text-align: center;
	line-height: 37px;
	text-transform: uppercase;
	border-right: 1px solid #CCC;
	white-space: nowrap;
	line-height: 37px;
}

#sales .block_content {
	border-right: 1px solid #CCC;
	border-left: 1px solid #CCC;
}

#slide li {
	float: left;
}

.slideul1 {
	width: 3999px;
}

#info .title {
	border-bottom: 2px solid #CCC;
	background: white;
	height: 37px;
}


#info .main_title {
	font-size: 21px;
	text-align: center;
	line-height: 37px;
	text-transform: uppercase;
	white-space: nowrap;
	line-height: 37px;
}


.block .more {
	font-size: 14px;
	float: right;
	line-height: 37px;
	position: relative;
	right: 20px;
}

.block .title .mark_top {
	position: absolute;
	width: 100%;
	height: 3px;
	background: #C1272D;
	left: 0;
	top: -3px;
}

.block .title .mark_bottom {
	position: absolute;
	width: 100%;
	height: 1px;
	background: white;
	left: 0;
	bottom: -1px;
}

#info .block_content_item {
	border-bottom: 1px dashed #CCC;
	overflow: hidden;
	padding: 5px 0;
}

#info .block_content_item_title {
	overflow: hidden;
	display: block;
	float: left;
	width: 200px;
}

#info .block_content_item_date {
	overflow: hidden;
	display: block;
	float: right;
}
