<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<#include "../include/head.html"/>
<link type="text/css" rel="stylesheet" href="${SITE_RES_ROOT}/css/channel/product.css">
</head>
<body>
	<#include "../include/top.html"/>
	<#include "../include/logo.html"/>
    <#include "../include/mainmenu.html"/>
    <div class="body_wrap">
    	<div id="classify" class="block frame">
	    	<dl>
	    		<dt>国家：</dt>
	    		<dd>
	    			<div>
	    			<a href="#" class="selected">全部</a>
		    		<@dictItemList tagClass = "TAG_PRODUCT_COUNTRY">
		    			<#list returnList as item>
		    			<a href="#">${item.dictItemName}</a>
		    			</#list>
		    		</@dictItemList>
	    			</div>
	    		</dd>
	    	</dl>	
	    	<dl>
	    		<dt>产地：</dt>
	    		<dd>
	    			<div>
	    			<a href="#" class="selected">全部</a>
		    		<@dictItemList tagClass = "TAG_PRODUCT_GROWING">
		    			<#list returnList as item>
		    			<a href="#">${item.dictItemName}</a>
		    			</#list>
		    		</@dictItemList>
	    			</div>
	    		</dd>
	    	</dl>	
	    	<dl>
	    		<dt>分类：</dt>
	    		<dd>
	    			<div>
	    			<a href="#" class="selected">全部</a>
		    		<@dictItemList tagClass = "TAG_PRODUCT_CLASSIFY">
		    			<#list returnList as item>
		    			<a href="#">${item.dictItemName}</a>
		    			</#list>
		    		</@dictItemList>
	    			</div>
	    		</dd>
	    	</dl>    	
    	</div>
		<div id="products" class="block">
			<@contentList channelPath='product' sortBy='Weight' sortType="desc">
			<ul>
				<#list returnList as content>
				<li class="left">
					<div>
						<img alt="${content.title}" src="${CONTENT_RES_ROOT}${content.titleImage}">
					</div>
					<div class="align_center">${content.title}</div>
				</li>
				</#list>
			</ul>
			</@contentList>
		</div>
	</div>
    <#include "../include/footer.html"/>
</body>
</html>