html {
    font-family: sans-serif;
}

html, body, header, section, footer, div, ul, ol, li, img, a, span, em, del, legend, center, strong, var, fieldset, form, label, dl, dt, dd, cite, input, hr, time, mark, code, figcaption, figure, textarea, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    border: 0;
    padding: 0;
    font-style: normal;
}

html, body {
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-select: none;
    background-color: #fff;
}

nav, article, aside, details, main, header, footer, section, fieldset, figcaption, figure {
    display: block;
}

img, a, button, em, del, strong, var, label, cite, small, time, mark, code, textarea {
    display: inline-block;
}

header, section, footer {
    position: relative;
}

ol, ul {
    list-style: none;
}

input, button, textarea {
    border: 0;
    margin: 0;
    padding: 0;
    font-size: 1em;
    line-height: 1em;
    /*-webkit-appearance:none;*/
    background-color: rgba(0, 0, 0, 0);
}

span {
    display: inline-block;
}

a:active, a:hover {
    outline: 0;
}

a, a:visited {
    text-decoration: none;
}

label, .wordWrap {
    word-wrap: break-word;
    word-break: break-all;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td, th {
    padding: 0;
}

.clearfix:after {
    content: ' ';
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box; /* Safari */
    -moz-box-sizing: border-box; /* Firefox */
}

.area1 {
    display: -webkit-box; /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
    display: -moz-box; /* Firefox 17- */
    display: -ms-flexbox; /* IE 10 */
    display: -webkit-flex; /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
    display: flex; /* Chrome 29+, Firefox 22+, IE 11+, Opera 12.1/17/18, Android 4.4+ */
    -moz-box-orient: vertical;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    flex-direction: column;

    padding: 10px;

}

.area2 img {
    width: 30px;
    height: 30px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.area2 {
    display: -webkit-box; /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
    display: -moz-box; /* Firefox 17- */
    display: -ms-flexbox; /* IE 10 */
    display: -webkit-flex; /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
    display: flex; /* Chrome 29+, Firefox 22+, IE 11+, Opera 12.1/17/18, Android 4.4+ */
    /*老版本语法*/
    -webkit-box-align: center;
    -moz-box-align: center;
    /*混合版本语法*/
    -ms-flex-align: center;
    /*新版本语法*/
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-around;
    position: fixed;
    bottom: 0px;
    height: 40px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 15px;
}

.title {
    font-size: 20px;
    font-weight: bold;
    color: rgba(51, 51, 51, 1.0);
}

.content {
    font-size: 15px;
    word-wrap: break-word;
    white-space: pre-wrap;
    margin-top: 10px;
}

.content img {
    width: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
}

html {
    height: 100%;
}