<div id="foot">
	<div class="body_wrap">
		<div class="align_center">
			<div class="left">
				<dl class="align_left">
					<dt>关于我们</dt>
					<dd>INABA简介</dd>
					<dd>INABA优势</dd>
					<dd>联系我们</dd>
					<dd>诚聘英才</dd>
				</dl>
			</div>
			<div class="left">
				<dl class="align_left">
					<dt>特色服务</dt>
					<dd>礼品定制</dd>
					<dd>企业定制</dd>
					<dd>INABA甄选</dd>
					<dd>全部产品</dd>
				</dl>
			</div>
		</div>
		<div>
			<a href="http://www.iidooo.com">Powered by IIDOOO</a>
		</div>
	</div>
</div>