<div class="body_wrap">
	<@directiveChannelList level='0' sortBy='Sequence' sortType='asc'>
	<ul id="mainmenu">
		<#list returnList as channel>
		<#if channel.isHidden == 0>
		<li>
		<#if channel.channelID == currentChannel.channelID>
        	<a href="${SITE_URL}/channel?path=${channel.channelPath}" class="main_menu_focus">${channel.channelName}</a>
        <#else>
        	<a href="${SITE_URL}/channel?path=${channel.channelPath}">${channel.channelName}</a>
        </#if>
        </li>
    	</#if>
		</#list>
	</ul>
	</@directiveChannelList>
</div>