<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iidooo.cms.mapper.CmsContentMapper">
  <resultMap id="BaseResultMap" type="com.iidooo.cms.model.po.CmsContent">
    <id column="ContentID" jdbcType="INTEGER" property="contentID" />
    <result column="ChannelID" jdbcType="INTEGER" property="channelID" />
    <result column="ContentType" jdbcType="VARCHAR" property="contentType" />
    <result column="ContentTitle" jdbcType="VARCHAR" property="contentTitle" />
    <result column="ContentSubTitle" jdbcType="VARCHAR" property="contentSubTitle" />
    <result column="ContentImageTitle" jdbcType="VARCHAR" property="contentImageTitle" />
    <result column="MetaTitle" jdbcType="VARCHAR" property="metaTitle" />
    <result column="MetaKeywords" jdbcType="VARCHAR" property="metaKeywords" />
    <result column="MetaDescription" jdbcType="VARCHAR" property="metaDescription" />
    <result column="ContentSummary" jdbcType="VARCHAR" property="contentSummary" />
    <result column="IsSilent" jdbcType="INTEGER" property="isSilent" />
    <result column="StickyIndex" jdbcType="INTEGER" property="stickyIndex" />
    <result column="PageViewCount" jdbcType="INTEGER" property="pageViewCount" />
    <result column="UniqueVisitorCount" jdbcType="INTEGER" property="uniqueVisitorCount" />
    <result column="StarCount" jdbcType="INTEGER" property="starCount" />
    <result column="CommentCount" jdbcType="INTEGER" property="commentCount" />
    <result column="Remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="CreateTime" jdbcType="TIMESTAMP" property="createTime" />
    <result column="CreateUserID" jdbcType="INTEGER" property="createUserID" />
    <result column="UpdateTime" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="UpdateUserID" jdbcType="INTEGER" property="updateUserID" />
    <result column="IsDelete" jdbcType="INTEGER" property="isDelete" />
    <result column="Version" jdbcType="INTEGER" property="version" />
    <association column="createUserID" property="createUser" select="selectCreateUser" javaType="com.iidooo.cms.model.po.SecurityUser"></association>
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.iidooo.cms.model.po.CmsContent">
    <result column="ContentBody" jdbcType="LONGVARCHAR" property="contentBody" />
  </resultMap>
  <sql id="Base_Column_List">
    C.ContentID, C.ChannelID, C.ContentType, C.ContentTitle, C.ContentSubTitle, C.ContentImageTitle, 
    C.MetaTitle, C.MetaKeywords, C.MetaDescription, C.ContentSummary, C.IsSilent, C.StickyIndex, C.PageViewCount, 
    C.UniqueVisitorCount, C.StarCount, C.CommentCount, C.Remarks, C.CreateTime, C.CreateUserID, C.UpdateTime, C.UpdateUserID, 
    C.IsDelete, C.Version
  </sql>
  <sql id="Blob_Column_List">
    C.ContentBody
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from CMS_CONTENT
    where ContentID = #{contentID,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from CMS_CONTENT
    where ContentID = #{contentID,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.iidooo.cms.model.po.CmsContent">
    insert into CMS_CONTENT (ContentID, ChannelID, ContentType, 
      ContentTitle, ContentSubTitle, ContentImageTitle, 
      MetaTitle, MetaKeywords, MetaDescription, 
      ContentSummary, IsSilent, IsSticky, 
      PageViewCount, UniqueVisitorCount, StarCount, 
      CommentCount, Remarks, CreateTime, 
      CreateUser, UpdateTime, UpdateUser, 
      IsDelete, Version, ContentBody
      )
    values (#{contentID,jdbcType=INTEGER}, #{channelID,jdbcType=INTEGER}, #{contentType,jdbcType=VARCHAR}, 
      #{contentTitle,jdbcType=VARCHAR}, #{contentSubTitle,jdbcType=VARCHAR}, #{contentImageTitle,jdbcType=VARCHAR}, 
      #{metaTitle,jdbcType=VARCHAR}, #{metaKeywords,jdbcType=VARCHAR}, #{metaDescription,jdbcType=VARCHAR}, 
      #{contentSummary,jdbcType=VARCHAR}, #{isSilent,jdbcType=INTEGER}, #{isSticky,jdbcType=INTEGER}, 
      #{pageViewCount,jdbcType=INTEGER}, #{uniqueVisitorCount,jdbcType=INTEGER}, #{starCount,jdbcType=INTEGER}, 
      #{commentCount,jdbcType=INTEGER}, #{remarks,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{createUser,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=INTEGER}, 
      #{isDelete,jdbcType=INTEGER}, #{version,jdbcType=INTEGER}, #{contentBody,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.iidooo.cms.model.po.CmsContent">
    insert into CMS_CONTENT
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="contentID != null">
        ContentID,
      </if>
      <if test="channelID != null">
        ChannelID,
      </if>
      <if test="contentType != null">
        ContentType,
      </if>
      <if test="contentTitle != null">
        ContentTitle,
      </if>
      <if test="contentSubTitle != null">
        ContentSubTitle,
      </if>
      <if test="contentImageTitle != null">
        ContentImageTitle,
      </if>
      <if test="metaTitle != null">
        MetaTitle,
      </if>
      <if test="metaKeywords != null">
        MetaKeywords,
      </if>
      <if test="metaDescription != null">
        MetaDescription,
      </if>
      <if test="contentSummary != null">
        ContentSummary,
      </if>
      <if test="isSilent != null">
        IsSilent,
      </if>
      <if test="isSticky != null">
        IsSticky,
      </if>
      <if test="pageViewCount != null">
        PageViewCount,
      </if>
      <if test="uniqueVisitorCount != null">
        UniqueVisitorCount,
      </if>
      <if test="starCount != null">
        StarCount,
      </if>
      <if test="commentCount != null">
        CommentCount,
      </if>
      <if test="remarks != null">
        Remarks,
      </if>
      <if test="createTime != null">
        CreateTime,
      </if>
      <if test="createUser != null">
        CreateUser,
      </if>
      <if test="updateTime != null">
        UpdateTime,
      </if>
      <if test="updateUser != null">
        UpdateUser,
      </if>
      <if test="isDelete != null">
        IsDelete,
      </if>
      <if test="version != null">
        Version,
      </if>
      <if test="contentBody != null">
        ContentBody,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="contentID != null">
        #{contentID,jdbcType=INTEGER},
      </if>
      <if test="channelID != null">
        #{channelID,jdbcType=INTEGER},
      </if>
      <if test="contentType != null">
        #{contentType,jdbcType=VARCHAR},
      </if>
      <if test="contentTitle != null">
        #{contentTitle,jdbcType=VARCHAR},
      </if>
      <if test="contentSubTitle != null">
        #{contentSubTitle,jdbcType=VARCHAR},
      </if>
      <if test="contentImageTitle != null">
        #{contentImageTitle,jdbcType=VARCHAR},
      </if>
      <if test="metaTitle != null">
        #{metaTitle,jdbcType=VARCHAR},
      </if>
      <if test="metaKeywords != null">
        #{metaKeywords,jdbcType=VARCHAR},
      </if>
      <if test="metaDescription != null">
        #{metaDescription,jdbcType=VARCHAR},
      </if>
      <if test="contentSummary != null">
        #{contentSummary,jdbcType=VARCHAR},
      </if>
      <if test="isSilent != null">
        #{isSilent,jdbcType=INTEGER},
      </if>
      <if test="isSticky != null">
        #{isSticky,jdbcType=INTEGER},
      </if>
      <if test="pageViewCount != null">
        #{pageViewCount,jdbcType=INTEGER},
      </if>
      <if test="uniqueVisitorCount != null">
        #{uniqueVisitorCount,jdbcType=INTEGER},
      </if>
      <if test="starCount != null">
        #{starCount,jdbcType=INTEGER},
      </if>
      <if test="commentCount != null">
        #{commentCount,jdbcType=INTEGER},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="version != null">
        #{version,jdbcType=INTEGER},
      </if>
      <if test="contentBody != null">
        #{contentBody,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.iidooo.cms.model.po.CmsContent">
    update CMS_CONTENT
    <set>
      <if test="channelID != null">
        ChannelID = #{channelID,jdbcType=INTEGER},
      </if>
      <if test="contentType != null">
        ContentType = #{contentType,jdbcType=VARCHAR},
      </if>
      <if test="contentTitle != null">
        ContentTitle = #{contentTitle,jdbcType=VARCHAR},
      </if>
      <if test="contentSubTitle != null">
        ContentSubTitle = #{contentSubTitle,jdbcType=VARCHAR},
      </if>
      <if test="contentImageTitle != null">
        ContentImageTitle = #{contentImageTitle,jdbcType=VARCHAR},
      </if>
      <if test="metaTitle != null">
        MetaTitle = #{metaTitle,jdbcType=VARCHAR},
      </if>
      <if test="metaKeywords != null">
        MetaKeywords = #{metaKeywords,jdbcType=VARCHAR},
      </if>
      <if test="metaDescription != null">
        MetaDescription = #{metaDescription,jdbcType=VARCHAR},
      </if>
      <if test="contentSummary != null">
        ContentSummary = #{contentSummary,jdbcType=VARCHAR},
      </if>
      <if test="isSilent != null">
        IsSilent = #{isSilent,jdbcType=INTEGER},
      </if>
      <if test="isSticky != null">
        IsSticky = #{isSticky,jdbcType=INTEGER},
      </if>
      <if test="pageViewCount != null">
        PageViewCount = #{pageViewCount,jdbcType=INTEGER},
      </if>
      <if test="uniqueVisitorCount != null">
        UniqueVisitorCount = #{uniqueVisitorCount,jdbcType=INTEGER},
      </if>
      <if test="starCount != null">
        StarCount = #{starCount,jdbcType=INTEGER},
      </if>
      <if test="commentCount != null">
        CommentCount = #{commentCount,jdbcType=INTEGER},
      </if>
      <if test="remarks != null">
        Remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CreateTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        CreateUser = #{createUser,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        UpdateTime = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        UpdateUser = #{updateUser,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null">
        IsDelete = #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="version != null">
        Version = #{version,jdbcType=INTEGER},
      </if>
      <if test="contentBody != null">
        ContentBody = #{contentBody,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where ContentID = #{contentID,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.iidooo.cms.model.po.CmsContent">
    update CMS_CONTENT
    set ChannelID = #{channelID,jdbcType=INTEGER},
      ContentType = #{contentType,jdbcType=VARCHAR},
      ContentTitle = #{contentTitle,jdbcType=VARCHAR},
      ContentSubTitle = #{contentSubTitle,jdbcType=VARCHAR},
      ContentImageTitle = #{contentImageTitle,jdbcType=VARCHAR},
      MetaTitle = #{metaTitle,jdbcType=VARCHAR},
      MetaKeywords = #{metaKeywords,jdbcType=VARCHAR},
      MetaDescription = #{metaDescription,jdbcType=VARCHAR},
      ContentSummary = #{contentSummary,jdbcType=VARCHAR},
      IsSilent = #{isSilent,jdbcType=INTEGER},
      IsSticky = #{isSticky,jdbcType=INTEGER},
      PageViewCount = #{pageViewCount,jdbcType=INTEGER},
      UniqueVisitorCount = #{uniqueVisitorCount,jdbcType=INTEGER},
      StarCount = #{starCount,jdbcType=INTEGER},
      CommentCount = #{commentCount,jdbcType=INTEGER},
      Remarks = #{remarks,jdbcType=VARCHAR},
      CreateTime = #{createTime,jdbcType=TIMESTAMP},
      CreateUser = #{createUser,jdbcType=INTEGER},
      UpdateTime = #{updateTime,jdbcType=TIMESTAMP},
      UpdateUser = #{updateUser,jdbcType=INTEGER},
      IsDelete = #{isDelete,jdbcType=INTEGER},
      Version = #{version,jdbcType=INTEGER},
      ContentBody = #{contentBody,jdbcType=LONGVARCHAR}
    where ContentID = #{contentID,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.iidooo.cms.model.po.CmsContent">
    update CMS_CONTENT
    set ChannelID = #{channelID,jdbcType=INTEGER},
      ContentType = #{contentType,jdbcType=VARCHAR},
      ContentTitle = #{contentTitle,jdbcType=VARCHAR},
      ContentSubTitle = #{contentSubTitle,jdbcType=VARCHAR},
      ContentImageTitle = #{contentImageTitle,jdbcType=VARCHAR},
      MetaTitle = #{metaTitle,jdbcType=VARCHAR},
      MetaKeywords = #{metaKeywords,jdbcType=VARCHAR},
      MetaDescription = #{metaDescription,jdbcType=VARCHAR},
      ContentSummary = #{contentSummary,jdbcType=VARCHAR},
      IsSilent = #{isSilent,jdbcType=INTEGER},
      IsSticky = #{isSticky,jdbcType=INTEGER},
      PageViewCount = #{pageViewCount,jdbcType=INTEGER},
      UniqueVisitorCount = #{uniqueVisitorCount,jdbcType=INTEGER},
      StarCount = #{starCount,jdbcType=INTEGER},
      CommentCount = #{commentCount,jdbcType=INTEGER},
      Remarks = #{remarks,jdbcType=VARCHAR},
      CreateTime = #{createTime,jdbcType=TIMESTAMP},
      CreateUser = #{createUser,jdbcType=INTEGER},
      UpdateTime = #{updateTime,jdbcType=TIMESTAMP},
      UpdateUser = #{updateUser,jdbcType=INTEGER},
      IsDelete = #{isDelete,jdbcType=INTEGER},
      Version = #{version,jdbcType=INTEGER}
    where ContentID = #{contentID,jdbcType=INTEGER}
  </update>
  
  <select id="selectContentListByType" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />,
    <include refid="Blob_Column_List" />
    from CMS_CONTENT C
    join CMS_CHANNEL L on 
    C.IsDelete = 0 and L.IsDelete = 0 and C.ChannelID = L.ChannelID 
    and L.ChannelPath =  #{channelPath,jdbcType=VARCHAR} 
    and C.ContentType = #{contentType,jdbcType=VARCHAR}
    order by C.StickyIndex desc, C.${page.sortField} ${page.sortType} limit ${page.start}, ${page.pageSize}
  </select>  
  <select id="selectCreateUser" parameterType="java.lang.Integer" resultType="com.iidooo.cms.model.vo.SecurityUserInfo">
  	select 
  	U.UserID, U.LoginID, U.UserName, U.Mobile, U.Email, U.Sex, 
  	U.Birthday, U.WeixinID, U.PhotoURL, U.IsSilent, U.IsDisable, U.Level, U.Points
  	from SECURITY_USER U where UserID = #{createUserID,jdbcType=INTEGER}
  </select>
</mapper>