<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.iidooo.cms.mapper.CmsCommentMapper">
	<resultMap id="BaseResultMap" type="com.iidooo.cms.model.po.CmsComment">
		<id column="CommentID" property="commentID" jdbcType="INTEGER" />
		<result column="ContentID" property="contentID" jdbcType="INTEGER" />
		<result column="ParentID" property="parentID" jdbcType="INTEGER" />
		<result column="Sequence" property="sequence" jdbcType="INTEGER" />
		<result column="Remarks" property="remarks" jdbcType="VARCHAR" />
		<result column="CreateTime" property="createTime" jdbcType="TIMESTAMP" />
		<result column="CreateUserID" property="createUserID" jdbcType="INTEGER" />
		<result column="UpdateTime" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="UpdateUserID" property="updateUserID" jdbcType="INTEGER" />
		<result column="IsDelete" property="isDelete" jdbcType="INTEGER" />
		<result column="Version" property="version" jdbcType="INTEGER" />
		<association column="createUserID" property="createUser" select="selectCreateUser" javaType="com.iidooo.core.model.po.SecurityUser"></association>
	</resultMap>
	<resultMap id="ResultMapWithBLOBs" type="com.iidooo.cms.model.po.CmsComment" extends="BaseResultMap">
		<result column="Comment" property="comment" jdbcType="LONGVARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		C.CommentID, C.ContentID, C.ParentID, C.Sequence, C.Remarks, C.CreateTime, C.CreateUserID, C.UpdateTime,
		C.UpdateUserID, C.IsDelete,
		C.Version
	</sql>
	<sql id="Blob_Column_List">
		C.Comment
	</sql>

	<select id="selectCreateUser" parameterType="java.lang.Integer" resultType="com.iidooo.core.model.po.SecurityUser">
		select
		U.UserID, U.LoginID, '' as password, U.UserName, U.Mobile, U.Email, U.Sex, U.Birthday, U.WeixinID, U.PhotoURL, 
    	U.IsSilent, U.IsDisable, U.UserType, U.Level, U.Points, U.Experience, U.Remarks, U.UpdateTime, U.UpdateUserID, 
    	U.CreateTime, U.CreateUserID, U.IsDelete, U.Version
		from security_user U where UserID = #{createUserID,jdbcType=INTEGER}
	</select>

	<select id="selectByCommentID" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		from CMS_COMMENT C
		where C.CommentID = #{commentID,jdbcType=INTEGER} and C.IsDelete = 0
	</select>
	
	<!-- 通过备注的信息查找 -->
	<select id="selectByCommentInfo" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		from CMS_COMMENT C
		where C.IsDelete = 0 and 
		C.CreateUserID = #{createUserID,jdbcType=INTEGER} and 
		C.ContentID = #{contentID,jdbcType=INTEGER} and
		C.Comment = #{comment,jdbcType=LONGVARCHAR}
		order by C.CreateTime desc limit 0,1 
	</select>

	<select id="selectCommentCount" resultType="java.lang.Integer">
		select
		count(C.CommentID)
		from CMS_COMMENT C
		where C.IsDelete = 0 and C.ContentID =
		#{commentID,jdbcType=INTEGER}
	</select>

	<select id="selectByContentID" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		from CMS_COMMENT C
		where C.IsDelete = 0 and C.ContentID = #{contentID,jdbcType=VARCHAR}
		<if test="page != null">
			order by ${page.sortField} ${page.sortType} limit
			${page.start}, ${page.pageSize}
		</if>
	</select>

	<select id="selectByUserID" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		from CMS_COMMENT C join CMS_COMMENT_NOTICE N
		on C.CommentID = N.CommentID and UserID = #{userID,jdbcType=INTEGER} and C.IsDelete = 0
		<if test="page != null">
			order by ${page.sortField} ${page.sortType} limit
			${page.start}, ${page.pageSize}
		</if>
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from CMS_COMMENT
		where CommentID = #{commentID,jdbcType=INTEGER}
	</delete>

	<insert id="insert" useGeneratedKeys="true" keyProperty="commentID" parameterType="com.iidooo.cms.model.po.CmsComment">
		insert into CMS_COMMENT
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="contentID != null">
				ContentID,
			</if>
			<if test="parentID != null">
				ParentID,
			</if>
			Sequence,
			<if test="comment != null">
				Comment,
			</if>
			<if test="remarks != null">
				Remarks,
			</if>
			<if test="createTime != null">
				CreateTime,
			</if>
			<if test="createUserID != null">
				CreateUserID,
			</if>
			<if test="updateTime != null">
				UpdateTime,
			</if>
			<if test="updateUserID != null">
				UpdateUserID,
			</if>
			IsDelete,Version
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="contentID != null">
				#{contentID,jdbcType=INTEGER},
			</if>
			<if test="parentID != null">
				#{parentID,jdbcType=INTEGER},
			</if>
			(select ifnull(Max(Sequence),0) from CMS_COMMENT C where C.ContentID = #{contentID,jdbcType=INTEGER} and C.IsDelete = 0) + 1,
			<if test="comment != null">
				#{comment,jdbcType=LONGVARCHAR},
			</if>
			<if test="remarks != null">
				#{remarks,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createUserID != null">
				#{createUserID,jdbcType=INTEGER},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateUserID != null">
				#{updateUserID,jdbcType=INTEGER},
			</if>
			0,1
		</trim>
	</insert>
	<update id="updateByCommentID" parameterType="com.iidooo.cms.model.po.CmsComment">
		update CMS_COMMENT
		<set>
			<if test="contentID != null">
				ContentID = #{contentID,jdbcType=INTEGER},
			</if>
			<if test="parentID != null">
				ParentID = #{parentID,jdbcType=INTEGER},
			</if>
			<if test="comment != null">
				Comment = #{comment,jdbcType=LONGVARCHAR},
			</if>
			<if test="remarks != null">
				Remarks = #{remarks,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				UpdateTime = #{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateUserID != null">
				UpdateUserID = #{updateUserID,jdbcType=INTEGER},
			</if>
			<if test="version != null">
				Version = Version + 1,
			</if>
		</set>
		where CommentID = #{commentID,jdbcType=INTEGER}
	</update>
</mapper>