<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iidooo.cms.mapper.CmsContentNewsMapper">
	<resultMap id="BaseResultMap" type="com.iidooo.cms.model.po.CmsContentNews">
		<id column="ContentID" jdbcType="INTEGER" property="contentID" />
		<result column="ChannelID" jdbcType="INTEGER" property="channelID" />
		<result column="ContentType" jdbcType="VARCHAR" property="contentType" />
		<result column="ContentTitle" jdbcType="VARCHAR" property="contentTitle" />
		<result column="ContentSubTitle" jdbcType="VARCHAR" property="contentSubTitle" />
		<result column="ContentImageTitle" jdbcType="VARCHAR" property="contentImageTitle" />
		<result column="MetaTitle" jdbcType="VARCHAR" property="metaTitle" />
		<result column="MetaKeywords" jdbcType="VARCHAR" property="metaKeywords" />
		<result column="MetaDescription" jdbcType="VARCHAR" property="metaDescription" />
		<result column="ContentSummary" jdbcType="VARCHAR" property="contentSummary" />
		<result column="IsSilent" jdbcType="INTEGER" property="isSilent" />
		<result column="StickyIndex" jdbcType="INTEGER" property="stickyIndex" />
		<result column="PageViewCount" jdbcType="INTEGER" property="pageViewCount" />
		<result column="UniqueVisitorCount" jdbcType="INTEGER" property="uniqueVisitorCount" />
		<result column="StarCount" jdbcType="INTEGER" property="starCount" />
		<result column="CommentCount" jdbcType="INTEGER" property="commentCount" />
		<result column="StartShowDate" property="startShowDate" jdbcType="VARCHAR" />
		<result column="StartShowTime" property="startShowTime" jdbcType="VARCHAR" />
		<result column="EndShowDate" property="endShowDate" jdbcType="VARCHAR" />
		<result column="EndShowTime" property="endShowTime" jdbcType="VARCHAR" />
    	<result column="Status" property="status" jdbcType="VARCHAR" />
		<result column="Source" property="source" jdbcType="VARCHAR" />
		<result column="SourceURL" property="sourceURL" jdbcType="VARCHAR" />
		<result column="Remarks" jdbcType="VARCHAR" property="remarks" />
		<result column="CreateTime" jdbcType="TIMESTAMP" property="createTime" />
		<result column="CreateUserID" jdbcType="INTEGER" property="createUserID" />
		<result column="UpdateTime" jdbcType="TIMESTAMP" property="updateTime" />
		<result column="UpdateUserID" jdbcType="INTEGER" property="updateUserID" />
		<result column="IsDelete" jdbcType="INTEGER" property="isDelete" />
		<result column="Version" jdbcType="INTEGER" property="version" />
		<association column="createUserID" property="createUser" select="selectCreateUser" javaType="com.iidooo.core.model.po.SecurityUser"></association>
		<collection select="selectPictureList" column="contentID" property="pictureList" ofType="com.iidooo.cms.model.po.CmsPicture"></collection>
		<collection select="selectTagList" column="contentID" property="tagList" ofType="com.iidooo.cms.model.vo.CmsTagInfo"></collection>

	</resultMap>
	<resultMap id="ResultMapWithBLOBs" type="com.iidooo.cms.model.po.CmsContentNews" extends="BaseResultMap">
		<result column="ContentBody" property="contentBody" jdbcType="LONGVARCHAR" />
	</resultMap>

	<resultMap id="TagListResultMap" type="com.iidooo.cms.model.vo.CmsTagInfo">
		<id column="TagID" property="tagID" jdbcType="INTEGER" />
		<result column="TagName" property="tagName" jdbcType="VARCHAR" />
		<result column="Remarks" property="remarks" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Base_Column_List">
		N.ContentID, C.ChannelID, C.ContentType, C.ContentTitle, C.ContentSubTitle, C.ContentImageTitle,
		C.MetaTitle, C.MetaKeywords,
		C.MetaDescription, C.ContentSummary, C.IsSilent, C.StickyIndex, C.PageViewCount,
		C.UniqueVisitorCount, C.StarCount, C.CommentCount, C.StartShowDate, C.StartShowTime, 
    	C.EndShowDate, C.EndShowTime, C.Status, N.Source,
		N.SourceURL, C.Remarks, C.CreateTime, C.CreateUserID, C.UpdateTime, C.UpdateUserID,
		C.IsDelete, C.Version
	</sql>
	<sql id="Blob_Column_List">
		C.ContentBody
	</sql>

	<select id="selectCreateUser" parameterType="java.lang.Integer" resultType="com.iidooo.core.model.po.SecurityUser">
		select
		U.UserID, U.LoginID, '' as password, U.UserName, U.Mobile,
		U.Email, U.Sex, U.Birthday, U.WeixinID, U.PhotoURL,
		U.IsSilent, U.IsDisable, U.UserType, U.Level, U.Points, U.Experience, U.Remarks, U.UpdateTime, U.UpdateUserID,
		U.CreateTime, U.CreateUserID, U.IsDelete, U.Version
		from security_user U where UserID = #{createUserID,jdbcType=INTEGER}
	</select>

	<!-- 根据CmsContent表中的ContentID查询CmsTag信息 -->
	<select id="selectTagList" parameterType="java.lang.Integer" resultMap="TagListResultMap">
		select T.TagID, T.TagName, T.Remarks from CMS_CONTENT_TAG CT join
		CMS_TAG T on CT.TagID = T.TagID and
		CT.IsDelete = 0 and T.IsDelete = 0 and ContentID = #{contentID,jdbcType=INTEGER};
	</select>
	
	<!-- 根据CmsContent表中的ContentID查询CmsPicture信息 -->
	<resultMap id="PictureListResultMap" type="com.iidooo.cms.model.po.CmsPicture">
		<id column="PictureID" jdbcType="INTEGER" property="pictureID" />
    	<result column="ContentID" jdbcType="INTEGER" property="contentID" />
    	<result column="PictureName" jdbcType="VARCHAR" property="pictureName" />
    	<result column="PictureURL" jdbcType="VARCHAR" property="pictureURL" />
    	<result column="Sequence" jdbcType="INTEGER" property="sequence" />
    	<result column="Remarks" jdbcType="VARCHAR" property="remarks" />
    	<result column="CreateTime" jdbcType="TIMESTAMP" property="createTime" />
    	<result column="CreateUserID" jdbcType="INTEGER" property="createUserID" />
	    <result column="UpdateTime" jdbcType="TIMESTAMP" property="updateTime" />
	    <result column="UpdateUserID" jdbcType="INTEGER" property="updateUserID" />
	    <result column="IsDelete" jdbcType="INTEGER" property="isDelete" />
	    <result column="Version" jdbcType="INTEGER" property="version" />
	</resultMap>
	<sql id="Picture_Column_List">
	    P.PictureID, P.ContentID, P.PictureName, P.PictureURL, P.Sequence, P.Remarks, P.CreateTime, P.CreateUserID, 
	    P.UpdateTime, P.UpdateUserID, P.IsDelete, P.Version
  	</sql>
	<select id="selectPictureList" parameterType="java.lang.Integer" resultMap="PictureListResultMap">
		select 
		<include refid="Picture_Column_List" /> from CMS_PICTURE P 
		where P.IsDelete = 0 and P.ContentID = #{contentID,jdbcType=INTEGER}
		order by P.Sequence asc, P.CreateTime desc
	</select>

	<select id="selectByContentID" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
		select
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		from CMS_CONTENT_NEWS N
		join CMS_CONTENT C
		on C.IsDelete = 0 and N.ContentID = C.ContentID and C.ContentID = #{contentID,jdbcType=INTEGER}
	</select>

	<select id="selectContentNewsList" resultMap="ResultMapWithBLOBs">
		select
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		from CMS_CONTENT_NEWS N
		join CMS_CONTENT C on C.IsDelete = 0 and C.Status = 0 and N.ContentID = C.ContentID
		join CMS_CHANNEL L on L.IsDelete = 0 and C.ChannelID =
		L.ChannelID
		and L.ChannelPath = #{channelPath,jdbcType=VARCHAR}
		and C.ContentType = '2'
		and CASE
        WHEN
            (C.StartShowDate &lt;&gt; ''
                AND C.EndShowDate &lt;&gt; '')
        THEN
        	C.StartShowDate &lt;= #{cmsContent.startShowDate,jdbcType=VARCHAR}
                AND C.StartShowTime &lt;= #{cmsContent.startShowTime,jdbcType=VARCHAR}
                AND C.EndShowDate &gt;= #{cmsContent.endShowDate,jdbcType=VARCHAR}
                AND C.EndShowTime &gt;= #{cmsContent.endShowTime,jdbcType=VARCHAR}
        ELSE
		C.StartShowTime &lt;= #{cmsContent.startShowTime,jdbcType=VARCHAR}
		and C.EndShowTime &gt;= #{cmsContent.endShowTime,jdbcType=VARCHAR}
		END
		<if test="cmsContent.createUserID != null and cmsContent.createUserID > 0">
			and C.CreateUserID = #{cmsContent.createUserID,jdbcType=INTEGER}
		</if>
		order by C.StickyIndex desc, C.${page.sortField} ${page.sortType} limit ${page.start}, ${page.pageSize}
	</select>
	
	<select id="selectContentListForToxicWaveTab1" resultMap="ResultMapWithBLOBs">	
		(select 
		N1.ContentID, C1.ChannelID, C1.ContentType, C1.ContentTitle, C1.ContentSubTitle, 
		C1.ContentImageTitle, C1.MetaTitle, C1.MetaKeywords,
		C1.MetaDescription, C1.ContentSummary, C1.IsSilent, C1.StickyIndex, C1.PageViewCount,
		C1.UniqueVisitorCount, C1.StarCount, C1.CommentCount, C1.StartShowDate, C1.StartShowTime, 
    	C1.EndShowDate, C1.EndShowTime, C1.Status, N1.Source,
		N1.SourceURL, C1.Remarks, C1.CreateTime, C1.CreateUserID, C1.UpdateTime, C1.UpdateUserID,
		C1.IsDelete, C1.Version, C1.ContentBody 
		from CMS_CONTENT_NEWS N1
		join CMS_CONTENT C1 on C1.IsDelete = 0 and C1.Status = 0 and N1.ContentID = C1.ContentID
		join CMS_CHANNEL L1 on L1.IsDelete = 0 and C1.ChannelID = L1.ChannelID
		and L1.ChannelPath = 'ToxicWave' and C1.ContentType = '2' and C1.StickyIndex > 0
		and CASE
        WHEN
            (C1.StartShowDate &lt;&gt; ''
                AND C1.EndShowDate &lt;&gt; '')
        THEN
        	C1.StartShowDate &lt;= #{cmsContent.startShowDate,jdbcType=VARCHAR}
                AND C1.StartShowTime &lt;= #{cmsContent.startShowTime,jdbcType=VARCHAR}
                AND C1.EndShowDate &gt;= #{cmsContent.endShowDate,jdbcType=VARCHAR}
                AND C1.EndShowTime &gt;= #{cmsContent.endShowTime,jdbcType=VARCHAR}
        ELSE
		C1.StartShowTime &lt;= #{cmsContent.startShowTime,jdbcType=VARCHAR}
		and C1.EndShowTime &gt;= #{cmsContent.endShowTime,jdbcType=VARCHAR}
		END		
		<if test="cmsContent.createTime != null">
			and C1.CreateTime &gt;= #{cmsContent.createTime,jdbcType=TIMESTAMP}
		</if>
		order by C1.CreateTime desc limit 0,1)
		union 
		(select 
		N2.ContentID, C2.ChannelID, C2.ContentType, C2.ContentTitle, C2.ContentSubTitle, 
		C2.ContentImageTitle, C2.MetaTitle, C2.MetaKeywords,
		C2.MetaDescription, C2.ContentSummary, C2.IsSilent, C2.StickyIndex, C2.PageViewCount,
		C2.UniqueVisitorCount, C2.StarCount, C2.CommentCount, C2.StartShowDate, C2.StartShowTime, 
    	C2.EndShowDate, C2.EndShowTime, C2.Status, N2.Source,
		N2.SourceURL, C2.Remarks, C2.CreateTime, C2.CreateUserID, C2.UpdateTime, C2.UpdateUserID,
		C2.IsDelete, C2.Version, C2.ContentBody 
		from CMS_CONTENT_NEWS N2
		join CMS_CONTENT C2 on C2.IsDelete = 0 and C2.Status = 0 and N2.ContentID = C2.ContentID
		join CMS_CHANNEL L2 on L2.IsDelete = 0 and C2.ChannelID = L2.ChannelID
		and L2.ChannelPath = 'ToxicWave' and C2.ContentType = '2' 
		and CASE
        WHEN
            (C2.StartShowDate &lt;&gt; ''
                AND C2.EndShowDate &lt;&gt; '')
        THEN
        	C2.StartShowDate &lt;= #{cmsContent.startShowDate,jdbcType=VARCHAR}
                AND C2.StartShowTime &lt;= #{cmsContent.startShowTime,jdbcType=VARCHAR}
                AND C2.EndShowDate &gt;= #{cmsContent.endShowDate,jdbcType=VARCHAR}
                AND C2.EndShowTime &gt;= #{cmsContent.endShowTime,jdbcType=VARCHAR}
        ELSE
		C2.StartShowTime &lt;= #{cmsContent.startShowTime,jdbcType=VARCHAR}
		and C2.EndShowTime &gt;= #{cmsContent.endShowTime,jdbcType=VARCHAR}
		END		
		<if test="cmsContent.createTime != null">
			and C2.CreateTime &gt;= #{cmsContent.createTime,jdbcType=TIMESTAMP}
		</if>
		order by C2.CreateTime desc limit ${page.start}, ${page.pageSize}) limit ${page.start}, ${page.pageSize}
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from CMS_CONTENT_NEWS
		where ContentID = #{contentID,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.iidooo.cms.model.po.CmsContentNews">
		insert into CMS_CONTENT_NEWS
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="contentID != null">
				ContentID,
			</if>
			<if test="source != null">
				Source,
			</if>
			<if test="sourceURL != null">
				SourceURL,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="contentID != null">
				#{contentID,jdbcType=INTEGER},
			</if>
			<if test="source != null">
				#{source,jdbcType=VARCHAR},
			</if>
			<if test="sourceURL != null">
				#{sourceURL,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>

	<!-- 根据ContentID更新新闻 -->
	<update id="updateByContentID" parameterType="com.iidooo.cms.model.po.CmsContentNews">
		update CMS_CONTENT_NEWS
		<set>
			<if test="source != null">
				Source = #{source,jdbcType=VARCHAR},
			</if>
			<if test="sourceURL != null">
				SourceURL = #{sourceURL,jdbcType=VARCHAR},
			</if>
		</set>
		where ContentID = #{contentID,jdbcType=INTEGER}
	</update>


</mapper>