<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iidooo.cms.mapper.CmsContentMapper">
	<resultMap id="BaseResultMap" type="com.iidooo.cms.model.po.CmsContent">
		<id column="ContentID" jdbcType="INTEGER" property="contentID" />
		<result column="ChannelID" jdbcType="INTEGER" property="channelID" />
		<result column="ContentType" jdbcType="VARCHAR" property="contentType" />
		<result column="ContentTitle" jdbcType="VARCHAR" property="contentTitle" />
		<result column="ContentSubTitle" jdbcType="VARCHAR" property="contentSubTitle" />
		<result column="ContentImageTitle" jdbcType="VARCHAR" property="contentImageTitle" />
		<result column="MetaTitle" jdbcType="VARCHAR" property="metaTitle" />
		<result column="MetaKeywords" jdbcType="VARCHAR" property="metaKeywords" />
		<result column="MetaDescription" jdbcType="VARCHAR" property="metaDescription" />
		<result column="ContentSummary" jdbcType="VARCHAR" property="contentSummary" />
		<result column="IsSilent" jdbcType="INTEGER" property="isSilent" />
		<result column="StickyIndex" jdbcType="INTEGER" property="stickyIndex" />
		<result column="PageViewCount" jdbcType="INTEGER" property="pageViewCount" />
		<result column="UniqueVisitorCount" jdbcType="INTEGER" property="uniqueVisitorCount" />
		<result column="StarCount" jdbcType="INTEGER" property="starCount" />
		<result column="CommentCount" jdbcType="INTEGER" property="commentCount" />
		<result column="Remarks" jdbcType="VARCHAR" property="remarks" />
		<result column="CreateTime" jdbcType="TIMESTAMP" property="createTime" />
		<result column="CreateUserID" jdbcType="INTEGER" property="createUserID" />
		<result column="UpdateTime" jdbcType="TIMESTAMP" property="updateTime" />
		<result column="UpdateUserID" jdbcType="INTEGER" property="updateUserID" />
		<result column="IsDelete" jdbcType="INTEGER" property="isDelete" />
		<result column="Version" jdbcType="INTEGER" property="version" />
		<association select="selectCreateUser" column="createUserID" property="createUser" javaType="com.iidooo.cms.model.vo.SecurityUserInfo"></association>

		<collection select="selectTagList" column="contentID" property="tagList" ofType="com.iidooo.cms.model.vo.CmsTagInfo"></collection>

	</resultMap>
	<resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.iidooo.cms.model.po.CmsContent">
		<result column="ContentBody" jdbcType="LONGVARCHAR" property="contentBody" />
	</resultMap>

	<resultMap id="TagListResultMap" type="com.iidooo.cms.model.vo.CmsTagInfo">
		<id column="TagID" property="tagID" jdbcType="INTEGER" />
		<result column="TagName" property="tagName" jdbcType="VARCHAR" />
		<result column="Remarks" property="remarks" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Base_Column_List">
		C.ContentID, C.ChannelID, C.ContentType, C.ContentTitle, C.ContentSubTitle, C.ContentImageTitle,
		C.MetaTitle, C.MetaKeywords,
		C.MetaDescription, C.ContentSummary, C.IsSilent, C.StickyIndex, C.PageViewCount,
		C.UniqueVisitorCount, C.StarCount, C.CommentCount, C.Remarks,
		C.CreateTime, C.CreateUserID, C.UpdateTime, C.UpdateUserID,
		C.IsDelete, C.Version
	</sql>
	<sql id="Blob_Column_List">
		C.ContentBody
	</sql>



	<select id="selectCreateUser" parameterType="java.lang.Integer" resultType="com.iidooo.cms.model.vo.SecurityUserInfo">
		select
		U.UserID, U.LoginID, U.UserName, U.Mobile, U.Email, U.Sex,
		U.Birthday, U.WeixinID, U.PhotoURL, U.IsSilent, U.IsDisable, U.Level, U.Points
		from SECURITY_USER U where UserID = #{createUserID,jdbcType=INTEGER}
	</select>

	<!-- 根据CmsContent表中的ContentID查询CmsTag信息 -->
	<select id="selectTagList" parameterType="java.lang.Integer" resultMap="TagListResultMap">
		select T.TagID, T.TagName, T.Remarks from CMS_CONTENT_TAG CT join
		CMS_TAG T on CT.TagID = T.TagID and
		CT.IsDelete = 0 and T.IsDelete = 0 and ContentID = #{contentID,jdbcType=INTEGER};
	</select>

	<select id="selectByContentID" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
		select
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		from CMS_CONTENT C
		where C.ContentID = #{contentID,jdbcType=INTEGER} and C.IsDelete = 0
	</select>

	<!-- 获得内容的点赞数 -->
	<select id="selectStarCount" parameterType="java.lang.Integer" resultType="java.lang.Integer">
		select C.StarCount from CMS_CONTENT C where C.IsDelete = 0 and
		C.ContentID = #{contentID,jdbcType=INTEGER}
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from CMS_CONTENT
		where ContentID = #{contentID,jdbcType=INTEGER}
	</delete>
	<insert id="insert" useGeneratedKeys="true" keyProperty="contentID" parameterType="com.iidooo.cms.model.po.CmsContent">
		insert into CMS_CONTENT
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="channelID != null">
				ChannelID,
			</if>
			<if test="contentType != null">
				ContentType,
			</if>
			<if test="contentTitle != null">
				ContentTitle,
			</if>
			<if test="contentSubTitle != null">
				ContentSubTitle,
			</if>
			<if test="contentImageTitle != null">
				ContentImageTitle,
			</if>
			<if test="metaTitle != null">
				MetaTitle,
			</if>
			<if test="metaKeywords != null">
				MetaKeywords,
			</if>
			<if test="metaDescription != null">
				MetaDescription,
			</if>
			<if test="contentSummary != null">
				ContentSummary,
			</if>
			<if test="isSilent != null">
				IsSilent,
			</if>
			<if test="isSticky != null">
				IsSticky,
			</if>
			<if test="pageViewCount != null">
				PageViewCount,
			</if>
			<if test="uniqueVisitorCount != null">
				UniqueVisitorCount,
			</if>
			<if test="starCount != null">
				StarCount,
			</if>
			<if test="commentCount != null">
				CommentCount,
			</if>
			<if test="remarks != null">
				Remarks,
			</if>
			<if test="createTime != null">
				CreateTime,
			</if>
			<if test="createUser != null">
				CreateUser,
			</if>
			<if test="updateTime != null">
				UpdateTime,
			</if>
			<if test="updateUser != null">
				UpdateUser,
			</if>
			IsDelete,Version,
			<if test="contentBody != null">
				ContentBody,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="channelID != null">
				#{channelID,jdbcType=INTEGER},
			</if>
			<if test="contentType != null">
				#{contentType,jdbcType=VARCHAR},
			</if>
			<if test="contentTitle != null">
				#{contentTitle,jdbcType=VARCHAR},
			</if>
			<if test="contentSubTitle != null">
				#{contentSubTitle,jdbcType=VARCHAR},
			</if>
			<if test="contentImageTitle != null">
				#{contentImageTitle,jdbcType=VARCHAR},
			</if>
			<if test="metaTitle != null">
				#{metaTitle,jdbcType=VARCHAR},
			</if>
			<if test="metaKeywords != null">
				#{metaKeywords,jdbcType=VARCHAR},
			</if>
			<if test="metaDescription != null">
				#{metaDescription,jdbcType=VARCHAR},
			</if>
			<if test="contentSummary != null">
				#{contentSummary,jdbcType=VARCHAR},
			</if>
			<if test="isSilent != null">
				#{isSilent,jdbcType=INTEGER},
			</if>
			<if test="isSticky != null">
				#{isSticky,jdbcType=INTEGER},
			</if>
			<if test="pageViewCount != null">
				#{pageViewCount,jdbcType=INTEGER},
			</if>
			<if test="uniqueVisitorCount != null">
				#{uniqueVisitorCount,jdbcType=INTEGER},
			</if>
			<if test="starCount != null">
				#{starCount,jdbcType=INTEGER},
			</if>
			<if test="commentCount != null">
				#{commentCount,jdbcType=INTEGER},
			</if>
			<if test="remarks != null">
				#{remarks,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createUser != null">
				#{createUser,jdbcType=INTEGER},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateUser != null">
				#{updateUser,jdbcType=INTEGER},
			</if>
			0,1,
			<if test="contentBody != null">
				#{contentBody,jdbcType=LONGVARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByContentID" parameterType="com.iidooo.cms.model.po.CmsContent">
		update CMS_CONTENT
		<set>
			<if test="channelID != null">
				ChannelID = #{channelID,jdbcType=INTEGER},
			</if>
			<if test="contentType != null">
				ContentType = #{contentType,jdbcType=VARCHAR},
			</if>
			<if test="contentTitle != null">
				ContentTitle = #{contentTitle,jdbcType=VARCHAR},
			</if>
			<if test="contentSubTitle != null">
				ContentSubTitle = #{contentSubTitle,jdbcType=VARCHAR},
			</if>
			<if test="contentImageTitle != null">
				ContentImageTitle = #{contentImageTitle,jdbcType=VARCHAR},
			</if>
			<if test="metaTitle != null">
				MetaTitle = #{metaTitle,jdbcType=VARCHAR},
			</if>
			<if test="metaKeywords != null">
				MetaKeywords = #{metaKeywords,jdbcType=VARCHAR},
			</if>
			<if test="metaDescription != null">
				MetaDescription = #{metaDescription,jdbcType=VARCHAR},
			</if>
			<if test="contentSummary != null">
				ContentSummary = #{contentSummary,jdbcType=VARCHAR},
			</if>
			<if test="isSilent != null">
				IsSilent = #{isSilent,jdbcType=INTEGER},
			</if>
			<if test="isSticky != null">
				IsSticky = #{isSticky,jdbcType=INTEGER},
			</if>
			<if test="pageViewCount != null">
				PageViewCount = #{pageViewCount,jdbcType=INTEGER},
			</if>
			<if test="uniqueVisitorCount != null">
				UniqueVisitorCount = #{uniqueVisitorCount,jdbcType=INTEGER},
			</if>
			<if test="starCount != null">
				StarCount = #{starCount,jdbcType=INTEGER},
			</if>
			<if test="commentCount != null">
				CommentCount = #{commentCount,jdbcType=INTEGER},
			</if>
			<if test="remarks != null">
				Remarks = #{remarks,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				UpdateTime = #{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateUser != null">
				UpdateUser = #{updateUser,jdbcType=INTEGER},
			</if>
			<if test="version != null">
				Version = Version + 1,
			</if>
			<if test="contentBody != null">
				ContentBody = #{contentBody,jdbcType=LONGVARCHAR},
			</if>
		</set>
		where ContentID = #{contentID,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.iidooo.cms.model.po.CmsContent">
		update CMS_CONTENT
		set ChannelID = #{channelID,jdbcType=INTEGER},
		ContentType =
		#{contentType,jdbcType=VARCHAR},
		ContentTitle = #{contentTitle,jdbcType=VARCHAR},
		ContentSubTitle = #{contentSubTitle,jdbcType=VARCHAR},
		ContentImageTitle = #{contentImageTitle,jdbcType=VARCHAR},
		MetaTitle = #{metaTitle,jdbcType=VARCHAR},
		MetaKeywords = #{metaKeywords,jdbcType=VARCHAR},
		MetaDescription = #{metaDescription,jdbcType=VARCHAR},
		ContentSummary = #{contentSummary,jdbcType=VARCHAR},
		IsSilent = #{isSilent,jdbcType=INTEGER},
		IsSticky = #{isSticky,jdbcType=INTEGER},
		PageViewCount = #{pageViewCount,jdbcType=INTEGER},
		UniqueVisitorCount =
		#{uniqueVisitorCount,jdbcType=INTEGER},
		StarCount = #{starCount,jdbcType=INTEGER},
		CommentCount = #{commentCount,jdbcType=INTEGER},
		Remarks =
		#{remarks,jdbcType=VARCHAR},
		CreateTime = #{createTime,jdbcType=TIMESTAMP},
		CreateUser = #{createUser,jdbcType=INTEGER},
		UpdateTime =
		#{updateTime,jdbcType=TIMESTAMP},
		UpdateUser = #{updateUser,jdbcType=INTEGER},
		IsDelete = #{isDelete,jdbcType=INTEGER},
		Version =
		#{version,jdbcType=INTEGER}
		where ContentID = #{contentID,jdbcType=INTEGER}
	</update>

	<update id="updateViewCount">
		update CMS_CONTENT
		set
		PageViewCount = #{pvCount,jdbcType=INTEGER},
		UniqueVisitorCount = #{uvCount,jdbcType=INTEGER}
		where ContentID =
		#{contentID,jdbcType=INTEGER}
	</update>

	<update id="updateCommentCount">
		update CMS_CONTENT
		set
		CommentCount = #{commentCount,jdbcType=INTEGER}
		where ContentID = #{contentID,jdbcType=INTEGER}
	</update>

	<!-- 更新内容的点赞数 -->
	<update id="updateStarCount">
		update CMS_CONTENT
		set
		<if test="isPlus == true">
			StarCount = StarCount + 1
		</if>
		<if test="isPlus == false">
			StarCount = StarCount - 1
		</if>
		where ContentID = #{contentID,jdbcType=INTEGER}
	</update>

	<select id="selectContentListByChannelPath" resultMap="ResultMapWithBLOBs">
		select
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		from CMS_CONTENT C
		join CMS_CHANNEL L on
		C.IsDelete = 0 and L.IsDelete = 0 and C.ChannelID = L.ChannelID
		and L.ChannelPath =
		#{channelPath,jdbcType=VARCHAR}
		and C.ContentType = '1'
		<if test="createUserID != null">
			and C.CreateUserID = #{createUserID,jdbcType=INTEGER}
		</if>
		order by C.StickyIndex desc, C.${page.sortField} ${page.sortType} limit ${page.start}, ${page.pageSize}
	</select>
</mapper>