<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iidooo.cms.mapper.CmsContentMapper">
	<resultMap id="BaseResultMap" type="com.iidooo.cms.model.po.CmsContent">
		<id column="ContentID" jdbcType="INTEGER" property="contentID" />
		<result column="ChannelID" jdbcType="INTEGER" property="channelID" />
		<result column="ContentType" jdbcType="VARCHAR" property="contentType" />
		<result column="ContentTitle" jdbcType="VARCHAR" property="contentTitle" />
		<result column="ContentSubTitle" jdbcType="VARCHAR" property="contentSubTitle" />
		<result column="ContentImageTitle" jdbcType="VARCHAR" property="contentImageTitle" />
		<result column="MetaTitle" jdbcType="VARCHAR" property="metaTitle" />
		<result column="MetaKeywords" jdbcType="VARCHAR" property="metaKeywords" />
		<result column="MetaDescription" jdbcType="VARCHAR" property="metaDescription" />
		<result column="ContentSummary" jdbcType="VARCHAR" property="contentSummary" />
		<result column="IsSilent" jdbcType="INTEGER" property="isSilent" />
		<result column="StickyIndex" jdbcType="INTEGER" property="stickyIndex" />
		<result column="PageViewCount" jdbcType="INTEGER" property="pageViewCount" />
		<result column="UniqueVisitorCount" jdbcType="INTEGER" property="uniqueVisitorCount" />
		<result column="StarCount" jdbcType="INTEGER" property="starCount" />
		<result column="CommentCount" jdbcType="INTEGER" property="commentCount" />
		<result column="StartShowDate" property="startShowDate" jdbcType="VARCHAR" />
		<result column="StartShowTime" property="startShowTime" jdbcType="VARCHAR" />
		<result column="EndShowDate" property="endShowDate" jdbcType="VARCHAR" />
		<result column="EndShowTime" property="endShowTime" jdbcType="VARCHAR" />
		<result column="Status" property="status" jdbcType="VARCHAR" />
		<result column="Remarks" jdbcType="VARCHAR" property="remarks" />
		<result column="CreateTime" jdbcType="TIMESTAMP" property="createTime" />
		<result column="CreateUserID" jdbcType="INTEGER" property="createUserID" />
		<result column="UpdateTime" jdbcType="TIMESTAMP" property="updateTime" />
		<result column="UpdateUserID" jdbcType="INTEGER" property="updateUserID" />
		<result column="IsDelete" jdbcType="INTEGER" property="isDelete" />
		<result column="Version" jdbcType="INTEGER" property="version" />
		<association select="selectCreateUser" column="createUserID" property="createUser" javaType="com.iidooo.core.model.po.SecurityUser"></association>

		<collection select="selectPictureList" column="contentID" property="pictureList" ofType="com.iidooo.cms.model.po.CmsPicture"></collection>
		<collection select="selectTagList" column="contentID" property="tagList" ofType="com.iidooo.cms.model.vo.CmsTagInfo"></collection>

	</resultMap>
	<resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.iidooo.cms.model.po.CmsContent">
		<result column="ContentBody" jdbcType="LONGVARCHAR" property="contentBody" />
	</resultMap>

	<resultMap id="TagListResultMap" type="com.iidooo.cms.model.vo.CmsTagInfo">
		<id column="TagID" property="tagID" jdbcType="INTEGER" />
		<result column="TagName" property="tagName" jdbcType="VARCHAR" />
		<result column="Remarks" property="remarks" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Base_Column_List">
		C.ContentID, C.ChannelID, C.ContentType, C.ContentTitle, C.ContentSubTitle, C.ContentImageTitle,
		C.MetaTitle, C.MetaKeywords,
		C.MetaDescription, C.ContentSummary, C.IsSilent, C.StickyIndex, C.PageViewCount,
		C.UniqueVisitorCount, C.StarCount, C.CommentCount, C.StartShowDate,
		C.StartShowTime,
		C.EndShowDate, C.EndShowTime, C.Status, C.Remarks, C.CreateTime, C.CreateUserID, C.UpdateTime, C.UpdateUserID,
		C.IsDelete, C.Version
	</sql>
	<sql id="Blob_Column_List">
		C.ContentBody
	</sql>

	<select id="selectCreateUser" parameterType="java.lang.Integer" resultType="com.iidooo.core.model.po.SecurityUser">
		select
		U.UserID, U.LoginID, '' as password, U.UserName, U.Mobile,
		U.Email, U.Sex, U.Birthday, U.WeixinID, U.PhotoURL,
		U.IsSilent, U.IsDisable, U.UserType, U.Level, U.Points, U.Experience, U.Remarks, U.UpdateTime,
		U.UpdateUserID,
		U.CreateTime, U.CreateUserID, U.IsDelete, U.Version
		from security_user U where UserID = #{createUserID,jdbcType=INTEGER}
	</select>

	<!-- 根据CmsContent表中的ContentID查询CmsTag信息 -->
	<select id="selectTagList" parameterType="java.lang.Integer" resultMap="TagListResultMap">
		select T.TagID, T.TagName, T.Remarks from CMS_CONTENT_TAG CT join
		CMS_TAG T on CT.TagID = T.TagID and
		CT.IsDelete = 0 and T.IsDelete = 0 and ContentID = #{contentID,jdbcType=INTEGER};
	</select>

	<!-- 根据CmsContent表中的ContentID查询CmsPicture信息 -->
	<resultMap id="PictureListResultMap" type="com.iidooo.cms.model.po.CmsPicture">
		<id column="PictureID" jdbcType="INTEGER" property="pictureID" />
		<result column="ContentID" jdbcType="INTEGER" property="contentID" />
		<result column="PictureName" jdbcType="VARCHAR" property="pictureName" />
		<result column="PictureURL" jdbcType="VARCHAR" property="pictureURL" />
		<result column="Sequence" jdbcType="INTEGER" property="sequence" />
		<result column="Remarks" jdbcType="VARCHAR" property="remarks" />
		<result column="CreateTime" jdbcType="TIMESTAMP" property="createTime" />
		<result column="CreateUserID" jdbcType="INTEGER" property="createUserID" />
		<result column="UpdateTime" jdbcType="TIMESTAMP" property="updateTime" />
		<result column="UpdateUserID" jdbcType="INTEGER" property="updateUserID" />
		<result column="IsDelete" jdbcType="INTEGER" property="isDelete" />
		<result column="Version" jdbcType="INTEGER" property="version" />
	</resultMap>
	<sql id="Picture_Column_List">
		P.PictureID, P.ContentID, P.PictureName, P.PictureURL, P.Sequence, P.Remarks, P.CreateTime, P.CreateUserID,
		P.UpdateTime, P.UpdateUserID,
		P.IsDelete, P.Version
	</sql>
	<select id="selectPictureList" parameterType="java.lang.Integer" resultMap="PictureListResultMap">
		select
		<include refid="Picture_Column_List" />
		from CMS_PICTURE P
		where P.IsDelete = 0 and P.ContentID = #{contentID,jdbcType=INTEGER}
		order by P.Sequence asc, P.CreateTime desc
	</select>

	<select id="selectByContentID" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
		select
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		from CMS_CONTENT C
		where C.ContentID = #{contentID,jdbcType=INTEGER} and C.IsDelete = 0
	</select>

	<select id="selectByContentInfo" resultMap="ResultMapWithBLOBs">
		select
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		from CMS_CONTENT C
		where C.IsDelete = 0 and C.CreateUserID = #{createUserID,jdbcType=INTEGER} and 
		C.ContentType = #{contentType,jdbcType=VARCHAR} and C.ContentBody = #{contentBody,jdbcType=LONGVARCHAR}
		order by C.CreateTime desc limit 0,1
	</select>
	
	<select id="selectCountByUserID" parameterType="java.lang.Integer" resultType="java.lang.Integer">
		select count(C.ContentID)
		from CMS_CONTENT C where 
		C.CreateUserID = #{userID,jdbcType=INTEGER} and C.ContentType = #{contentType,jdbcType=VARCHAR} and C.IsDelete = 0
	</select>	

	<!-- 获得内容的点赞数 -->
	<select id="selectStarCount" parameterType="java.lang.Integer" resultType="java.lang.Integer">
		select C.StarCount from CMS_CONTENT C where C.IsDelete = 0 and
		C.ContentID = #{contentID,jdbcType=INTEGER}
	</select>

	<!-- 得到所有内容的PV -->
	<select id="selectPVCountSum" resultType="java.lang.Integer">
		select sum(C.PageViewCount) from CMS_CONTENT C where C.IsDelete = 0
	</select>

	<!-- 检索内容一览信息的数量 -->
	<select id="selectCountForSearch" resultType="java.lang.Integer">
		select
		count(C.ContentID)
		from CMS_CONTENT C
		where C.IsDelete = 0
		<if test="cmsContent.channelID != null and cmsContent.channelID != 0">
			and C.ChannelID = #{cmsContent.channelID,jdbcType=INTEGER}
		</if>
		<if test="cmsContent.contentTitle != null and cmsContent.contentTitle != ''">
			and C.ContentTitle like "%${cmsContent.contentTitle}%"
		</if>
		<if test="cmsContent.contentType != null and cmsContent.contentType != '' and cmsContent.contentType != 0">
			and C.ContentType = #{cmsContent.contentType,jdbcType=VARCHAR}
		</if>
		<if test="startDate != null and startDate != '' and endDate != null and endDate != ''">
			and C.CreateTime &gt;= #{startDate}
			and C.CreateTime &lt;= #{endDate}
		</if>
		<if test="cmsContent.status != null and cmsContent.status != ''">
			and C.Status = #{cmsContent.status,jdbcType=VARCHAR}
		</if>
		<if test="cmsContent.createUserID != null and cmsContent.createUserID != 0">
			and C.CreateUserID = #{cmsContent.createUserID,jdbcType=INTEGER}
		</if>
	</select>

	<!-- 检索内容一览信息 -->
	<select id="selectForSearch" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />,
		<include refid="Blob_Column_List" />
		from CMS_CONTENT C
		where C.IsDelete = 0
		<if test="cmsContent.channelID != null and cmsContent.channelID != 0">
			and C.ChannelID = #{cmsContent.channelID,jdbcType=INTEGER}
		</if>
		<if test="cmsContent.contentTitle != null and cmsContent.contentTitle != ''">
			and C.ContentTitle like "%${cmsContent.contentTitle}%"
		</if>
		<if test="cmsContent.contentType != null and cmsContent.contentType != 0">
			and C.ContentType = #{cmsContent.contentType,jdbcType=VARCHAR}
		</if>
		<if test="startDate != null and startDate != ''">
			and C.CreateTime &gt;= #{startDate}
		</if>
		<if test="endDate != null and endDate != ''">
			and C.CreateTime &lt;= #{endDate}
		</if>
		<if test="cmsContent.status != null and cmsContent.status != ''">
			and C.Status = #{cmsContent.status,jdbcType=VARCHAR}
		</if>
		<if test="cmsContent.createUserID != null and cmsContent.createUserID != 0">
			and C.CreateUserID = #{cmsContent.createUserID,jdbcType=INTEGER}
		</if>
		<if test="page != null">
			order by ${page.sortField} ${page.sortType}
			limit ${page.start}, ${page.pageSize}
		</if>
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from CMS_CONTENT
		where ContentID = #{contentID,jdbcType=INTEGER}
	</delete>
	<insert id="insert" useGeneratedKeys="true" keyProperty="contentID" parameterType="com.iidooo.cms.model.po.CmsContent">
		insert into CMS_CONTENT
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="channelID != null">
				ChannelID,
			</if>
			<if test="contentType != null">
				ContentType,
			</if>
			<if test="contentTitle != null">
				ContentTitle,
			</if>
			<if test="contentSubTitle != null">
				ContentSubTitle,
			</if>
			<if test="contentImageTitle != null">
				ContentImageTitle,
			</if>
			<if test="metaTitle != null">
				MetaTitle,
			</if>
			<if test="metaKeywords != null">
				MetaKeywords,
			</if>
			<if test="metaDescription != null">
				MetaDescription,
			</if>
			<if test="contentSummary != null">
				ContentSummary,
			</if>
			<if test="isSilent != null">
				IsSilent,
			</if>
			<if test="stickyIndex != null">
				StickyIndex,
			</if>
			<if test="pageViewCount != null">
				PageViewCount,
			</if>
			<if test="uniqueVisitorCount != null">
				UniqueVisitorCount,
			</if>
			<if test="starCount != null">
				StarCount,
			</if>
			<if test="commentCount != null">
				CommentCount,
			</if>
			<if test="startShowDate != null">
				StartShowDate,
			</if>
			<if test="startShowTime != null">
				StartShowTime,
			</if>
			<if test="endShowDate != null">
				EndShowDate,
			</if>
			<if test="endShowTime != null">
				EndShowTime,
			</if>
			<if test="status != null">
				Status,
			</if>
			<if test="remarks != null">
				Remarks,
			</if>
			<if test="createTime != null">
				CreateTime,
			</if>
			<if test="createUserID != null">
				CreateUserID,
			</if>
			<if test="updateTime != null">
				UpdateTime,
			</if>
			<if test="updateUserID != null">
				UpdateUserID,
			</if>
			IsDelete,Version,
			<if test="contentBody != null">
				ContentBody,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="channelID != null">
				#{channelID,jdbcType=INTEGER},
			</if>
			<if test="contentType != null">
				#{contentType,jdbcType=VARCHAR},
			</if>
			<if test="contentTitle != null">
				#{contentTitle,jdbcType=VARCHAR},
			</if>
			<if test="contentSubTitle != null">
				#{contentSubTitle,jdbcType=VARCHAR},
			</if>
			<if test="contentImageTitle != null">
				#{contentImageTitle,jdbcType=VARCHAR},
			</if>
			<if test="metaTitle != null">
				#{metaTitle,jdbcType=VARCHAR},
			</if>
			<if test="metaKeywords != null">
				#{metaKeywords,jdbcType=VARCHAR},
			</if>
			<if test="metaDescription != null">
				#{metaDescription,jdbcType=VARCHAR},
			</if>
			<if test="contentSummary != null">
				#{contentSummary,jdbcType=VARCHAR},
			</if>
			<if test="isSilent != null">
				#{isSilent,jdbcType=INTEGER},
			</if>
			<if test="stickyIndex != null">
				#{stickyIndex,jdbcType=INTEGER},
			</if>
			<if test="pageViewCount != null">
				#{pageViewCount,jdbcType=INTEGER},
			</if>
			<if test="uniqueVisitorCount != null">
				#{uniqueVisitorCount,jdbcType=INTEGER},
			</if>
			<if test="starCount != null">
				#{starCount,jdbcType=INTEGER},
			</if>
			<if test="commentCount != null">
				#{commentCount,jdbcType=INTEGER},
			</if>
			<if test="startShowDate != null">
				#{startShowDate,jdbcType=VARCHAR},
			</if>
			<if test="startShowTime != null">
				#{startShowTime,jdbcType=VARCHAR},
			</if>
			<if test="endShowDate != null">
				#{endShowDate,jdbcType=VARCHAR},
			</if>
			<if test="endShowTime != null">
				#{endShowTime,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				#{status,jdbcType=VARCHAR},
			</if>
			<if test="remarks != null">
				#{remarks,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createUserID != null">
				#{createUserID,jdbcType=INTEGER},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateUserID != null">
				#{updateUserID,jdbcType=INTEGER},
			</if>
			0,1,
			<if test="contentBody != null">
				#{contentBody,jdbcType=LONGVARCHAR},
			</if>
		</trim>
	</insert>

	<update id="updateByContentID" parameterType="com.iidooo.cms.model.po.CmsContent">
		update CMS_CONTENT
		<set>
			<if test="channelID != null">
				ChannelID = #{channelID,jdbcType=INTEGER},
			</if>
			<if test="contentType != null">
				ContentType = #{contentType,jdbcType=VARCHAR},
			</if>
			<if test="contentTitle != null">
				ContentTitle = #{contentTitle,jdbcType=VARCHAR},
			</if>
			<if test="contentSubTitle != null">
				ContentSubTitle = #{contentSubTitle,jdbcType=VARCHAR},
			</if>
			<if test="contentImageTitle != null">
				ContentImageTitle = #{contentImageTitle,jdbcType=VARCHAR},
			</if>
			<if test="metaTitle != null">
				MetaTitle = #{metaTitle,jdbcType=VARCHAR},
			</if>
			<if test="metaKeywords != null">
				MetaKeywords = #{metaKeywords,jdbcType=VARCHAR},
			</if>
			<if test="metaDescription != null">
				MetaDescription = #{metaDescription,jdbcType=VARCHAR},
			</if>
			<if test="contentSummary != null">
				ContentSummary = #{contentSummary,jdbcType=VARCHAR},
			</if>
			<if test="isSilent != null">
				IsSilent = #{isSilent,jdbcType=INTEGER},
			</if>
			<if test="stickyIndex != null">
				StickyIndex = #{stickyIndex,jdbcType=INTEGER},
			</if>
			<if test="pageViewCount != null">
				PageViewCount = #{pageViewCount,jdbcType=INTEGER},
			</if>
			<if test="uniqueVisitorCount != null">
				UniqueVisitorCount = #{uniqueVisitorCount,jdbcType=INTEGER},
			</if>
			<if test="starCount != null">
				StarCount = #{starCount,jdbcType=INTEGER},
			</if>
			<if test="commentCount != null">
				CommentCount = #{commentCount,jdbcType=INTEGER},
			</if>
			<if test="startShowDate != null">
				StartShowDate = #{startShowDate,jdbcType=VARCHAR},
			</if>
			<if test="startShowTime != null">
				StartShowTime = #{startShowTime,jdbcType=VARCHAR},
			</if>
			<if test="endShowDate != null">
				EndShowDate = #{endShowDate,jdbcType=VARCHAR},
			</if>
			<if test="endShowTime != null">
				EndShowTime = #{endShowTime,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				Status = #{status,jdbcType=VARCHAR},
			</if>
			<if test="remarks != null">
				Remarks = #{remarks,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				UpdateTime = #{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateUserID != null">
				UpdateUserID = #{updateUserID,jdbcType=INTEGER},
			</if>
			Version = Version + 1,
			<if test="contentBody != null">
				ContentBody = #{contentBody,jdbcType=LONGVARCHAR},
			</if>
		</set>
		where ContentID = #{contentID,jdbcType=INTEGER}
	</update>
	
	<!-- 通过内容ID删除指定内容 -->
	<update id="deleteByContentID" parameterType="com.iidooo.cms.model.po.CmsContent">
		update CMS_CONTENT
		<set>			
			<if test="updateTime != null">
				UpdateTime = #{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateUserID != null">
				UpdateUserID = #{updateUserID,jdbcType=INTEGER},
			</if>
			Version = Version + 1,
			IsDelete = 1
		</set>
		where ContentID = #{contentID,jdbcType=INTEGER}
	</update>

	<update id="updateViewCount">
		update CMS_CONTENT
		set
		PageViewCount = #{pvCount,jdbcType=INTEGER},
		UniqueVisitorCount = #{uvCount,jdbcType=INTEGER}
		where ContentID =
		#{contentID,jdbcType=INTEGER}
	</update>

	<update id="updateCommentCount">
		update CMS_CONTENT
		set
		CommentCount = #{commentCount,jdbcType=INTEGER}
		where ContentID = #{contentID,jdbcType=INTEGER}
	</update>

	<!-- 更新内容的点赞数 -->
	<update id="updateStarCount">
		update CMS_CONTENT
		set
		<if test="isPlus == true">
			StarCount = StarCount + 1
		</if>
		<if test="isPlus == false">
			StarCount = StarCount - 1
		</if>
		where ContentID = #{contentID,jdbcType=INTEGER}
	</update>

	<select id="selectContentListByChannelPath" resultMap="ResultMapWithBLOBs">
		select
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		from CMS_CONTENT C
		join CMS_CHANNEL L on
		C.IsDelete = 0 and C.Status = '0' and L.IsDelete = 0 and C.ChannelID = L.ChannelID
		and L.ChannelPath =
		#{channelPath,jdbcType=VARCHAR}
		and C.ContentType = '1'
		and CASE
		WHEN
		(C.StartShowDate &lt;&gt; ''
		AND C.EndShowDate &lt;&gt; '')
		THEN
		C.StartShowDate
		&lt;= #{cmsContent.startShowDate,jdbcType=VARCHAR}
		AND C.StartShowTime &lt;= #{cmsContent.startShowTime,jdbcType=VARCHAR}
		AND C.EndShowDate &gt;=
		#{cmsContent.endShowDate,jdbcType=VARCHAR}
		AND C.EndShowTime &gt;= #{cmsContent.endShowTime,jdbcType=VARCHAR}
		ELSE
		C.StartShowTime &lt;=
		#{cmsContent.startShowTime,jdbcType=VARCHAR}
		and C.EndShowTime &gt;= #{cmsContent.endShowTime,jdbcType=VARCHAR}
		END
		<if test="cmsContent.createUserID != null and cmsContent.createUserID > 0">
			and C.CreateUserID = #{cmsContent.createUserID,jdbcType=INTEGER}
		</if>
		order by C.StickyIndex desc, C.${page.sortField} ${page.sortType} limit ${page.start}, ${page.pageSize}
	</select>

	<!-- 毒电波用的Tab2自媒体一览 -->
	<select id="selectContentListForToxicWaveTab2" resultMap="ResultMapWithBLOBs">
		(select * from
		(select
		C1.ContentID, C1.ChannelID, C1.ContentType, C1.ContentTitle, C1.ContentSubTitle, 
		C1.ContentImageTitle, C1.MetaTitle, C1.MetaKeywords,
		C1.MetaDescription, C1.ContentSummary, C1.IsSilent, C1.StickyIndex, C1.PageViewCount,
		C1.UniqueVisitorCount, C1.StarCount, C1.CommentCount, C1.StartShowDate, C1.StartShowTime, 
    	C1.EndShowDate, C1.EndShowTime, C1.Status, C1.Remarks, C1.CreateTime, C1.CreateUserID, 
    	C1.UpdateTime, C1.UpdateUserID,	C1.IsDelete, C1.Version, C1.ContentBody 
    	from CMS_CONTENT C1 join CMS_CHANNEL L1 on 
    	C1.IsDelete = 0 and C1.Status = 0 and L1.IsDelete = 0 and C1.ChannelID = L1.ChannelID
		and L1.ChannelPath = 'ToxicWave' and C1.ContentType = '1' and 
		date_format(C1.CreateTime,'%Y-%m-%d') = CURRENT_DATE()
		and CASE
        WHEN
            (C1.StartShowDate &lt;&gt; ''
                AND C1.EndShowDate &lt;&gt; '')
        THEN
        	C1.StartShowDate &lt;= #{cmsContent.startShowDate,jdbcType=VARCHAR}
                AND C1.StartShowTime &lt;= #{cmsContent.startShowTime,jdbcType=VARCHAR}
                AND C1.EndShowDate &gt;= #{cmsContent.endShowDate,jdbcType=VARCHAR}
                AND C1.EndShowTime &gt;= #{cmsContent.endShowTime,jdbcType=VARCHAR}
        ELSE
		C1.StartShowTime &lt;= #{cmsContent.startShowTime,jdbcType=VARCHAR}
		and C1.EndShowTime &gt;= #{cmsContent.endShowTime,jdbcType=VARCHAR}
		END
		<if test="cmsContent.createUserID != null and cmsContent.createUserID > 0">
			and C1.CreateUserID = #{cmsContent.createUserID,jdbcType=INTEGER}
		</if>
		<if test="cmsContent.createTime != null and (cmsContent.createUserID == null or cmsContent.createUserID &lt;= 0)">
			and C1.CreateTime &gt;= #{cmsContent.createTime,jdbcType=TIMESTAMP}
		</if>
		order by C1.StarCount desc, C1.`CreateTime` desc limit ${page.start}, ${page.pageSize}) as C11)
		union
		(select * from
		(select 
			C2.ContentID, C2.ChannelID, C2.ContentType, C2.ContentTitle, C2.ContentSubTitle, 
			C2.ContentImageTitle, C2.MetaTitle, C2.MetaKeywords,
			C2.MetaDescription, C2.ContentSummary, C2.IsSilent, C2.StickyIndex, C2.PageViewCount,
			C2.UniqueVisitorCount, C2.StarCount, C2.CommentCount, C2.StartShowDate, C2.StartShowTime, 
	    	C2.EndShowDate, C2.EndShowTime, C2.Status, C2.Remarks, C2.CreateTime, C2.CreateUserID, 
	    	C2.UpdateTime, C2.UpdateUserID,	C2.IsDelete, C2.Version, C2.ContentBody 
		from `CMS_CONTENT` C2 join CMS_CHANNEL L2 on 
    	C2.IsDelete = 0 and C2.Status = 0 and L2.IsDelete = 0 and C2.ChannelID = L2.ChannelID
		and L2.ChannelPath = 'ToxicWave' and C2.ContentType = '1' and 
		date_format(C2.CreateTime,'%Y-%m-%d') &lt;&gt; CURRENT_DATE()
		and CASE
        WHEN
            (C2.StartShowDate &lt;&gt; ''
                AND C2.EndShowDate &lt;&gt; '')
        THEN
        	C2.StartShowDate &lt;= #{cmsContent.startShowDate,jdbcType=VARCHAR}
                AND C2.StartShowTime &lt;= #{cmsContent.startShowTime,jdbcType=VARCHAR}
                AND C2.EndShowDate &gt;= #{cmsContent.endShowDate,jdbcType=VARCHAR}
                AND C2.EndShowTime &gt;= #{cmsContent.endShowTime,jdbcType=VARCHAR}
        ELSE
			C2.StartShowTime &lt;= #{cmsContent.startShowTime,jdbcType=VARCHAR}
			and C2.EndShowTime &gt;= #{cmsContent.endShowTime,jdbcType=VARCHAR}
		END
		<if test="cmsContent.createUserID != null and cmsContent.createUserID > 0">
			and C2.CreateUserID = #{cmsContent.createUserID,jdbcType=INTEGER}
		</if>
		<if test="cmsContent.createTime != null and (cmsContent.createUserID == null or cmsContent.createUserID &lt;= 0)">
			and C2.CreateTime &gt;= #{cmsContent.createTime,jdbcType=TIMESTAMP}
		</if>
		order by C2.`CreateTime` desc limit ${page.start}, ${page.pageSize}) as C21)
		limit ${page.start}, ${page.pageSize}
	</select>
	
	
</mapper>