<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.iidooo.cms.mapper.HisOperatorMapper">
	<resultMap id="BaseResultMap" type="com.iidooo.cms.model.po.HisOperator">
		<id column="OperatorID" property="operatorID" jdbcType="INTEGER" />
		<result column="TableName" property="tableName" jdbcType="VARCHAR" />
		<result column="TableKey" property="tableKey" jdbcType="INTEGER" />
		<result column="Operation" property="operation" jdbcType="VARCHAR" />
		<result column="OperatorIP" property="operatorIP" jdbcType="VARCHAR" />
		<result column="UserAgent" property="userAgent" jdbcType="VARCHAR" />
		<result column="Remarks" property="remarks" jdbcType="VARCHAR" />
		<result column="UpdateTime" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="UpdateUserID" property="updateUserID" jdbcType="INTEGER" />
		<result column="CreateTime" property="createTime" jdbcType="TIMESTAMP" />
		<result column="CreateUserID" property="createUserID" jdbcType="INTEGER" />
		<result column="IsDelete" property="isDelete" jdbcType="INTEGER" />
		<result column="Version" property="version" jdbcType="INTEGER" />
	</resultMap>
	<sql id="Base_Column_List">
		OperatorID, TableName, TableKey, Operation, OperatorIP, UserAgent, Remarks, UpdateTime,
		UpdateUserID, CreateTime, CreateUserID, IsDelete,
		Version
	</sql>
	<select id="selectPVCount" resultType="java.lang.Integer" parameterType="com.iidooo.cms.model.po.HisOperator">
		select
		count(OperatorID)
		from HIS_OPERATOR
		where
		IsDelete = 0 and
		TableName =
		#{tableName,jdbcType=VARCHAR} and
		TableKey = #{tableKey,jdbcType=INTEGER} and
		Operation = #{operation,jdbcType=VARCHAR}
	</select>

	<select id="selectUVCount" resultType="java.lang.Integer" parameterType="com.iidooo.cms.model.po.HisOperator">
		select
		count(H.OperatorID)
		from
		(select OperatorID from
		HIS_OPERATOR
		where
		IsDelete = 0 and
		TableName =
		#{tableName,jdbcType=VARCHAR} and
		TableKey = #{tableKey,jdbcType=INTEGER} and
		Operation =
		#{operation,jdbcType=VARCHAR}
		group by OperatorIP) H
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from HIS_OPERATOR
		where OperatorID = #{operatorID,jdbcType=INTEGER}
	</delete>

	<insert id="insert" parameterType="com.iidooo.cms.model.po.HisOperator">
		insert into HIS_OPERATOR
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="tableName != null">
				TableName,
			</if>
			<if test="tableKey != null">
				TableKey,
			</if>
			<if test="operation != null">
				Operation,
			</if>
			<if test="operatorIP != null">
				OperatorIP,
			</if>
			<if test="userAgent != null">
				UserAgent,
			</if>
			<if test="remarks != null">
				Remarks,
			</if>
			<if test="updateTime != null">
				UpdateTime,
			</if>
			<if test="updateUserID != null">
				UpdateUserID,
			</if>
			<if test="createTime != null">
				CreateTime,
			</if>
			<if test="createUserID != null">
				CreateUserID,
			</if>
			IsDelete, Version
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="tableName != null">
				#{tableName,jdbcType=VARCHAR},
			</if>
			<if test="tableKey != null">
				#{tableKey,jdbcType=INTEGER},
			</if>
			<if test="operation != null">
				#{operation,jdbcType=VARCHAR},
			</if>
			<if test="operatorIP != null">
				#{operatorIP,jdbcType=VARCHAR},
			</if>
			<if test="userAgent != null">
				#{userAgent,jdbcType=VARCHAR},
			</if>
			<if test="remarks != null">
				#{remarks,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateUserID != null">
				#{updateUserID,jdbcType=INTEGER},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createUserID != null">
				#{createUserID,jdbcType=INTEGER},
			</if>
			0, 1
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.iidooo.cms.model.po.HisOperator">
		update HIS_OPERATOR
		<set>
			<if test="tableName != null">
				TableName = #{tableName,jdbcType=VARCHAR},
			</if>
			<if test="tableKey != null">
				TableKey = #{tableKey,jdbcType=INTEGER},
			</if>
			<if test="operation != null">
				Operation = #{operation,jdbcType=VARCHAR},
			</if>
			<if test="operatorIP != null">
				OperatorIP = #{operatorIP,jdbcType=VARCHAR},
			</if>
			<if test="userAgent != null">
				UserAgent = #{userAgent,jdbcType=VARCHAR},
			</if>
			<if test="remarks != null">
				Remarks = #{remarks,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				UpdateTime = #{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateUserID != null">
				UpdateUserID = #{updateUserID,jdbcType=INTEGER},
			</if>
			<if test="createTime != null">
				CreateTime = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createUserID != null">
				CreateUserID = #{createUserID,jdbcType=INTEGER},
			</if>
			<if test="isDelete != null">
				IsDelete = #{isDelete,jdbcType=INTEGER},
			</if>
			<if test="version != null">
				Version = #{version,jdbcType=INTEGER},
			</if>
		</set>
		where OperatorID = #{operatorID,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.iidooo.cms.model.po.HisOperator">
		update HIS_OPERATOR
		set TableName = #{tableName,jdbcType=VARCHAR},
		TableKey =
		#{tableKey,jdbcType=INTEGER},
		Operation = #{operation,jdbcType=VARCHAR},
		OperatorIP = #{operatorIP,jdbcType=VARCHAR},
		UserAgent =
		#{userAgent,jdbcType=VARCHAR},
		Remarks = #{remarks,jdbcType=VARCHAR},
		UpdateTime = #{updateTime,jdbcType=TIMESTAMP},
		UpdateUserID =
		#{updateUserID,jdbcType=INTEGER},
		CreateTime = #{createTime,jdbcType=TIMESTAMP},
		CreateUserID = #{createUserID,jdbcType=INTEGER},
		IsDelete =
		#{isDelete,jdbcType=INTEGER},
		Version = #{version,jdbcType=INTEGER}
		where OperatorID = #{operatorID,jdbcType=INTEGER}
	</update>
</mapper>