<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.iidooo.cms.mapper.SecurityUserMapper" >
  <resultMap id="BaseResultMap" type="com.iidooo.cms.model.po.SecurityUser" >
    <id column="UserID" property="userID" jdbcType="INTEGER" />
    <result column="LoginID" property="loginID" jdbcType="VARCHAR" />
    <result column="Password" property="password" jdbcType="VARCHAR" />
    <result column="UserName" property="userName" jdbcType="VARCHAR" />
    <result column="Mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="Email" property="email" jdbcType="VARCHAR" />
    <result column="Sex" property="sex" jdbcType="CHAR" />
    <result column="Birthday" property="birthday" jdbcType="DATE" />
    <result column="WeixinID" property="weixinID" jdbcType="VARCHAR" />
    <result column="PhotoURL" property="photoURL" jdbcType="VARCHAR" />
    <result column="IsSilent" property="isSilent" jdbcType="INTEGER" />
    <result column="IsDisable" property="isDisable" jdbcType="INTEGER" />
    <result column="UserType" property="userType" jdbcType="VARCHAR" />
    <result column="Level" property="level" jdbcType="INTEGER" />
    <result column="Points" property="points" jdbcType="INTEGER" />
    <result column="Remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="CreateTime" property="createTime" jdbcType="TIMESTAMP" />
    <result column="CreateUserID" property="createUserID" jdbcType="INTEGER" />
    <result column="UpdateTime" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="UpdateUserID" property="updateUserID" jdbcType="INTEGER" />
    <result column="IsDelete" property="isDelete" jdbcType="INTEGER" />
    <result column="Version" property="version" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    UserID, LoginID, Password, UserName, Mobile, Email, Sex, Birthday, WeixinID, PhotoURL, 
    IsSilent, IsDisable, UserType, Level, Points, Remarks, CreateTime, CreateUserID, 
    UpdateTime, UpdateUserID, IsDelete, Version
  </sql>
  
  <resultMap id="UserInfoResultMap" type="com.iidooo.cms.model.vo.SecurityUserInfo" >
    <id column="UserID" property="userID" jdbcType="INTEGER" />
    <result column="LoginID" property="loginID" jdbcType="VARCHAR" />
    <result column="UserName" property="userName" jdbcType="VARCHAR" />
    <result column="Mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="Email" property="email" jdbcType="VARCHAR" />
    <result column="Sex" property="sex" jdbcType="CHAR" />
    <result column="Birthday" property="birthday" jdbcType="DATE" />
    <result column="WeixinID" property="weixinID" jdbcType="VARCHAR" />
    <result column="PhotoURL" property="photoURL" jdbcType="VARCHAR" />
    <result column="IsSilent" property="isSilent" jdbcType="INTEGER" />
    <result column="IsDisable" property="isDisable" jdbcType="INTEGER" />
    <result column="Level" property="level" jdbcType="INTEGER" />
    <result column="Points" property="points" jdbcType="INTEGER" />
  </resultMap>
  <sql id="UserInfo_Column_List" >
    U.UserID, U.LoginID, U.UserName, U.Mobile, U.Email, U.Sex, U.Birthday, U.WeixinID, U.PhotoURL, 
    U.IsSilent, U.IsDisable, U.Level, U.Points
  </sql>
  <select id="selectByUserID" resultMap="UserInfoResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="UserInfo_Column_List" />
    from SECURITY_USER U
    where U.UserID = #{userID,jdbcType=INTEGER}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from SECURITY_USER
    where UserID = #{userID,jdbcType=INTEGER}
  </delete>
  
  <insert id="insert" useGeneratedKeys="true" keyProperty="userID" parameterType="com.iidooo.cms.model.po.SecurityUser" >
    insert into SECURITY_USER (LoginID, Password, 
      UserName, Mobile, Email, 
      Sex, Birthday, WeixinID, 
      PhotoURL, IsSilent, IsDisable, 
      UserType, Level, Points, 
      Remarks, CreateTime, CreateUserID, 
      UpdateTime, UpdateUserID, IsDelete, 
      Version)
    values (#{loginID,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{userName,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{sex,jdbcType=CHAR}, #{birthday,jdbcType=DATE}, #{weixinID,jdbcType=VARCHAR}, 
      #{photoURL,jdbcType=VARCHAR}, #{isSilent,jdbcType=INTEGER}, #{isDisable,jdbcType=INTEGER}, 
      #{userType,jdbcType=VARCHAR}, #{level,jdbcType=INTEGER}, #{points,jdbcType=INTEGER}, 
      #{remarks,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{createUserID,jdbcType=INTEGER}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{updateUserID,jdbcType=INTEGER}, 0, 1)
  </insert>
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="userID" parameterType="com.iidooo.cms.model.po.SecurityUser" >
    insert into SECURITY_USER
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="loginID != null" >
        LoginID,
      </if>
      <if test="password != null" >
        Password,
      </if>
      <if test="userName != null" >
        UserName,
      </if>
      <if test="mobile != null" >
        Mobile,
      </if>
      <if test="email != null" >
        Email,
      </if>
      <if test="sex != null" >
        Sex,
      </if>
      <if test="birthday != null" >
        Birthday,
      </if>
      <if test="weixinID != null" >
        WeixinID,
      </if>
      <if test="photoURL != null" >
        PhotoURL,
      </if>
      <if test="isSilent != null" >
        IsSilent,
      </if>
      <if test="isDisable != null" >
        IsDisable,
      </if>
      <if test="userType != null" >
        UserType,
      </if>
      <if test="level != null" >
        Level,
      </if>
      <if test="points != null" >
        Points,
      </if>
      <if test="remarks != null" >
        Remarks,
      </if>
      <if test="createTime != null" >
        CreateTime,
      </if>
      <if test="createUserID != null" >
        CreateUserID,
      </if>
      <if test="updateTime != null" >
        UpdateTime,
      </if>
      <if test="updateUserID != null" >
        UpdateUserID,
      </if>      
      IsDelete,Version,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="loginID != null" >
        #{loginID,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=CHAR},
      </if>
      <if test="birthday != null" >
        #{birthday,jdbcType=DATE},
      </if>
      <if test="weixinID != null" >
        #{weixinID,jdbcType=VARCHAR},
      </if>
      <if test="photoURL != null" >
        #{photoURL,jdbcType=VARCHAR},
      </if>
      <if test="isSilent != null" >
        #{isSilent,jdbcType=INTEGER},
      </if>
      <if test="isDisable != null" >
        #{isDisable,jdbcType=INTEGER},
      </if>
      <if test="userType != null" >
        #{userType,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        #{level,jdbcType=INTEGER},
      </if>
      <if test="points != null" >
        #{points,jdbcType=INTEGER},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserID != null" >
        #{createUserID,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserID != null" >
        #{updateUserID,jdbcType=INTEGER},
      </if>
      0,1
    </trim>
  </insert>
  <update id="updateByUserID" parameterType="com.iidooo.cms.model.po.SecurityUser" >
    update SECURITY_USER
    <set >
      <if test="loginID != null" >
        LoginID = #{loginID,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        Password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        UserName = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        Mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        Email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        Sex = #{sex,jdbcType=CHAR},
      </if>
      <if test="birthday != null" >
        Birthday = #{birthday,jdbcType=DATE},
      </if>
      <if test="weixinID != null" >
        WeixinID = #{weixinID,jdbcType=VARCHAR},
      </if>
      <if test="photoURL != null" >
        PhotoURL = #{photoURL,jdbcType=VARCHAR},
      </if>
      <if test="isSilent != null" >
        IsSilent = #{isSilent,jdbcType=INTEGER},
      </if>
      <if test="isDisable != null" >
        IsDisable = #{isDisable,jdbcType=INTEGER},
      </if>
      <if test="userType != null" >
        UserType = #{userType,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        Level = #{level,jdbcType=INTEGER},
      </if>
      <if test="points != null" >
        Points = #{points,jdbcType=INTEGER},
      </if>
      <if test="remarks != null" >
        Remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="updateUserID != null" >
        UpdateUserID = #{updateUserID,jdbcType=INTEGER},
      </if>
       Version = Version + 1,
    </set>
    where UserID = #{userID,jdbcType=INTEGER}
  </update>
</mapper>