<div class="body_wrap">
	<ul id="mainmenu">
		<#list allChannels as channel>
		<#if channel.isHidden == 0>
		<li>
		    <#if channel.channelID == currentChannel.channelID>
               <a href="${SESSION_SITE_URL}/channel?path=${channel.channelPath}" target="${channel.targetType}" class="main_menu_focus">${channel.channelName}</a>
               <#else>
               <a href="${SESSION_SITE_URL}/channel?path=${channel.channelPath}" target="${channel.targetType}">${channel.channelName}</a>
               </#if>
           </li>
           </#if>
		</#list>
	</ul>
</div>