<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.iidooo.cms.dao.generate.CmsContentMapper" >
  <resultMap id="BaseResultMap" type="com.iidooo.cms.dto.generate.CmsContent" >
    <id column="ContentID" property="contentID" jdbcType="INTEGER" />
    <result column="ChannelID" property="channelID" jdbcType="INTEGER" />
    <result column="TemplateID" property="templateID" jdbcType="INTEGER" />
    <result column="Title" property="title" jdbcType="VARCHAR" />
    <result column="TitleImage" property="titleImage" jdbcType="VARCHAR" />
    <result column="SubTitle" property="subTitle" jdbcType="VARCHAR" />
    <result column="MetaTitle" property="metaTitle" jdbcType="VARCHAR" />
    <result column="MetaKeyworlds" property="metaKeyworlds" jdbcType="VARCHAR" />
    <result column="MetaDescription" property="metaDescription" jdbcType="VARCHAR" />
    <result column="ContentSummary" property="contentSummary" jdbcType="VARCHAR" />
    <result column="ContentSource" property="contentSource" jdbcType="VARCHAR" />
    <result column="ContentAuthor" property="contentAuthor" jdbcType="VARCHAR" />
    <result column="Weight" property="weight" jdbcType="INTEGER" />
    <result column="IsAllowComment" property="isAllowComment" jdbcType="INTEGER" />
    <result column="Remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="Language" property="language" jdbcType="VARCHAR" />
    <result column="CreateTime" property="createTime" jdbcType="VARCHAR" />
    <result column="CreateUser" property="createUser" jdbcType="INTEGER" />
    <result column="UpdateTime" property="updateTime" jdbcType="VARCHAR" />
    <result column="UpdateUser" property="updateUser" jdbcType="INTEGER" />
    <result column="IsDelete" property="isDelete" jdbcType="INTEGER" />
    <result column="Version" property="version" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.iidooo.cms.dto.generate.CmsContent" extends="BaseResultMap" >
    <result column="ContentBody" property="contentBody" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ContentID, ChannelID, TemplateID, Title, TitleImage, SubTitle, MetaTitle, MetaKeyworlds, 
    MetaDescription, ContentSummary, ContentSource, ContentAuthor, Weight, IsAllowComment, 
    Remarks, Language, CreateTime, CreateUser, UpdateTime, UpdateUser, IsDelete, Version
  </sql>
  <sql id="Blob_Column_List" >
    ContentBody
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from ido_cms_content
    where ContentID = #{contentID,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ido_cms_content
    where ContentID = #{contentID,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.iidooo.cms.dto.generate.CmsContent" >
    insert into ido_cms_content (ContentID, ChannelID, TemplateID, 
      Title, TitleImage, SubTitle, 
      MetaTitle, MetaKeyworlds, MetaDescription, 
      ContentSummary, ContentSource, ContentAuthor, 
      Weight, IsAllowComment, Remarks, 
      Language, CreateTime, CreateUser, 
      UpdateTime, UpdateUser, IsDelete, 
      Version, ContentBody)
    values (#{contentID,jdbcType=INTEGER}, #{channelID,jdbcType=INTEGER}, #{templateID,jdbcType=INTEGER}, 
      #{title,jdbcType=VARCHAR}, #{titleImage,jdbcType=VARCHAR}, #{subTitle,jdbcType=VARCHAR}, 
      #{metaTitle,jdbcType=VARCHAR}, #{metaKeyworlds,jdbcType=VARCHAR}, #{metaDescription,jdbcType=VARCHAR}, 
      #{contentSummary,jdbcType=VARCHAR}, #{contentSource,jdbcType=VARCHAR}, #{contentAuthor,jdbcType=VARCHAR}, 
      #{weight,jdbcType=INTEGER}, #{isAllowComment,jdbcType=INTEGER}, #{remarks,jdbcType=VARCHAR}, 
      #{language,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, #{createUser,jdbcType=INTEGER}, 
      #{updateTime,jdbcType=VARCHAR}, #{updateUser,jdbcType=INTEGER}, #{isDelete,jdbcType=INTEGER}, 
      #{version,jdbcType=INTEGER}, #{contentBody,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.iidooo.cms.dto.generate.CmsContent" >
    insert into ido_cms_content
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="contentID != null" >
        ContentID,
      </if>
      <if test="channelID != null" >
        ChannelID,
      </if>
      <if test="templateID != null" >
        TemplateID,
      </if>
      <if test="title != null" >
        Title,
      </if>
      <if test="titleImage != null" >
        TitleImage,
      </if>
      <if test="subTitle != null" >
        SubTitle,
      </if>
      <if test="metaTitle != null" >
        MetaTitle,
      </if>
      <if test="metaKeyworlds != null" >
        MetaKeyworlds,
      </if>
      <if test="metaDescription != null" >
        MetaDescription,
      </if>
      <if test="contentSummary != null" >
        ContentSummary,
      </if>
      <if test="contentSource != null" >
        ContentSource,
      </if>
      <if test="contentAuthor != null" >
        ContentAuthor,
      </if>
      <if test="weight != null" >
        Weight,
      </if>
      <if test="isAllowComment != null" >
        IsAllowComment,
      </if>
      <if test="remarks != null" >
        Remarks,
      </if>
      <if test="language != null" >
        Language,
      </if>
      <if test="createTime != null" >
        CreateTime,
      </if>
      <if test="createUser != null" >
        CreateUser,
      </if>
      <if test="updateTime != null" >
        UpdateTime,
      </if>
      <if test="updateUser != null" >
        UpdateUser,
      </if>
      <if test="isDelete != null" >
        IsDelete,
      </if>
      <if test="version != null" >
        Version,
      </if>
      <if test="contentBody != null" >
        ContentBody,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="contentID != null" >
        #{contentID,jdbcType=INTEGER},
      </if>
      <if test="channelID != null" >
        #{channelID,jdbcType=INTEGER},
      </if>
      <if test="templateID != null" >
        #{templateID,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="titleImage != null" >
        #{titleImage,jdbcType=VARCHAR},
      </if>
      <if test="subTitle != null" >
        #{subTitle,jdbcType=VARCHAR},
      </if>
      <if test="metaTitle != null" >
        #{metaTitle,jdbcType=VARCHAR},
      </if>
      <if test="metaKeyworlds != null" >
        #{metaKeyworlds,jdbcType=VARCHAR},
      </if>
      <if test="metaDescription != null" >
        #{metaDescription,jdbcType=VARCHAR},
      </if>
      <if test="contentSummary != null" >
        #{contentSummary,jdbcType=VARCHAR},
      </if>
      <if test="contentSource != null" >
        #{contentSource,jdbcType=VARCHAR},
      </if>
      <if test="contentAuthor != null" >
        #{contentAuthor,jdbcType=VARCHAR},
      </if>
      <if test="weight != null" >
        #{weight,jdbcType=INTEGER},
      </if>
      <if test="isAllowComment != null" >
        #{isAllowComment,jdbcType=INTEGER},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="language != null" >
        #{language,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null" >
        #{updateUser,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="version != null" >
        #{version,jdbcType=INTEGER},
      </if>
      <if test="contentBody != null" >
        #{contentBody,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.iidooo.cms.dto.generate.CmsContent" >
    update ido_cms_content
    <set >
      <if test="channelID != null" >
        ChannelID = #{channelID,jdbcType=INTEGER},
      </if>
      <if test="templateID != null" >
        TemplateID = #{templateID,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        Title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="titleImage != null" >
        TitleImage = #{titleImage,jdbcType=VARCHAR},
      </if>
      <if test="subTitle != null" >
        SubTitle = #{subTitle,jdbcType=VARCHAR},
      </if>
      <if test="metaTitle != null" >
        MetaTitle = #{metaTitle,jdbcType=VARCHAR},
      </if>
      <if test="metaKeyworlds != null" >
        MetaKeyworlds = #{metaKeyworlds,jdbcType=VARCHAR},
      </if>
      <if test="metaDescription != null" >
        MetaDescription = #{metaDescription,jdbcType=VARCHAR},
      </if>
      <if test="contentSummary != null" >
        ContentSummary = #{contentSummary,jdbcType=VARCHAR},
      </if>
      <if test="contentSource != null" >
        ContentSource = #{contentSource,jdbcType=VARCHAR},
      </if>
      <if test="contentAuthor != null" >
        ContentAuthor = #{contentAuthor,jdbcType=VARCHAR},
      </if>
      <if test="weight != null" >
        Weight = #{weight,jdbcType=INTEGER},
      </if>
      <if test="isAllowComment != null" >
        IsAllowComment = #{isAllowComment,jdbcType=INTEGER},
      </if>
      <if test="remarks != null" >
        Remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="language != null" >
        Language = #{language,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CreateTime = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null" >
        CreateUser = #{createUser,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        UpdateTime = #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null" >
        UpdateUser = #{updateUser,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null" >
        IsDelete = #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="version != null" >
        Version = #{version,jdbcType=INTEGER},
      </if>
      <if test="contentBody != null" >
        ContentBody = #{contentBody,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where ContentID = #{contentID,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.iidooo.cms.dto.generate.CmsContent" >
    update ido_cms_content
    set ChannelID = #{channelID,jdbcType=INTEGER},
      TemplateID = #{templateID,jdbcType=INTEGER},
      Title = #{title,jdbcType=VARCHAR},
      TitleImage = #{titleImage,jdbcType=VARCHAR},
      SubTitle = #{subTitle,jdbcType=VARCHAR},
      MetaTitle = #{metaTitle,jdbcType=VARCHAR},
      MetaKeyworlds = #{metaKeyworlds,jdbcType=VARCHAR},
      MetaDescription = #{metaDescription,jdbcType=VARCHAR},
      ContentSummary = #{contentSummary,jdbcType=VARCHAR},
      ContentSource = #{contentSource,jdbcType=VARCHAR},
      ContentAuthor = #{contentAuthor,jdbcType=VARCHAR},
      Weight = #{weight,jdbcType=INTEGER},
      IsAllowComment = #{isAllowComment,jdbcType=INTEGER},
      Remarks = #{remarks,jdbcType=VARCHAR},
      Language = #{language,jdbcType=VARCHAR},
      CreateTime = #{createTime,jdbcType=VARCHAR},
      CreateUser = #{createUser,jdbcType=INTEGER},
      UpdateTime = #{updateTime,jdbcType=VARCHAR},
      UpdateUser = #{updateUser,jdbcType=INTEGER},
      IsDelete = #{isDelete,jdbcType=INTEGER},
      Version = #{version,jdbcType=INTEGER},
      ContentBody = #{contentBody,jdbcType=LONGVARCHAR}
    where ContentID = #{contentID,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.iidooo.cms.dto.generate.CmsContent" >
    update ido_cms_content
    set ChannelID = #{channelID,jdbcType=INTEGER},
      TemplateID = #{templateID,jdbcType=INTEGER},
      Title = #{title,jdbcType=VARCHAR},
      TitleImage = #{titleImage,jdbcType=VARCHAR},
      SubTitle = #{subTitle,jdbcType=VARCHAR},
      MetaTitle = #{metaTitle,jdbcType=VARCHAR},
      MetaKeyworlds = #{metaKeyworlds,jdbcType=VARCHAR},
      MetaDescription = #{metaDescription,jdbcType=VARCHAR},
      ContentSummary = #{contentSummary,jdbcType=VARCHAR},
      ContentSource = #{contentSource,jdbcType=VARCHAR},
      ContentAuthor = #{contentAuthor,jdbcType=VARCHAR},
      Weight = #{weight,jdbcType=INTEGER},
      IsAllowComment = #{isAllowComment,jdbcType=INTEGER},
      Remarks = #{remarks,jdbcType=VARCHAR},
      Language = #{language,jdbcType=VARCHAR},
      CreateTime = #{createTime,jdbcType=VARCHAR},
      CreateUser = #{createUser,jdbcType=INTEGER},
      UpdateTime = #{updateTime,jdbcType=VARCHAR},
      UpdateUser = #{updateUser,jdbcType=INTEGER},
      IsDelete = #{isDelete,jdbcType=INTEGER},
      Version = #{version,jdbcType=INTEGER}
    where ContentID = #{contentID,jdbcType=INTEGER}
  </update>
</mapper>