<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.iidooo.core.dao.generate.DictClassMapper" >
  <resultMap id="BaseResultMap" type="com.iidooo.core.dto.generate.DictClass" >
    <id column="DictClassID" property="dictClassID" jdbcType="INTEGER" />
    <result column="DictTypeCode" property="dictTypeCode" jdbcType="VARCHAR" />
    <result column="DictClassCode" property="dictClassCode" jdbcType="VARCHAR" />
    <result column="DictClassName" property="dictClassName" jdbcType="VARCHAR" />
    <result column="Sequence" property="sequence" jdbcType="INTEGER" />
    <result column="Remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="CreateTime" property="createTime" jdbcType="VARCHAR" />
    <result column="CreateUser" property="createUser" jdbcType="INTEGER" />
    <result column="UpdateTime" property="updateTime" jdbcType="VARCHAR" />
    <result column="UpdateUser" property="updateUser" jdbcType="INTEGER" />
    <result column="IsDelete" property="isDelete" jdbcType="INTEGER" />
    <result column="Version" property="version" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    DictClassID, DictTypeCode, DictClassCode, DictClassName, Sequence, Remarks, CreateTime, 
    CreateUser, UpdateTime, UpdateUser, IsDelete, Version
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from CORE_DICT_CLASS
    where DictClassID = #{dictClassID,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from CORE_DICT_CLASS
    where DictClassID = #{dictClassID,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.iidooo.core.dto.generate.DictClass" >
    insert into CORE_DICT_CLASS (DictClassID, DictTypeCode, DictClassCode, 
      DictClassName, Sequence, Remarks, 
      CreateTime, CreateUser, UpdateTime, 
      UpdateUser, IsDelete, Version
      )
    values (#{dictClassID,jdbcType=INTEGER}, #{dictTypeCode,jdbcType=VARCHAR}, #{dictClassCode,jdbcType=VARCHAR}, 
      #{dictClassName,jdbcType=VARCHAR}, #{sequence,jdbcType=INTEGER}, #{remarks,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=VARCHAR}, #{createUser,jdbcType=INTEGER}, #{updateTime,jdbcType=VARCHAR}, 
      #{updateUser,jdbcType=INTEGER}, #{isDelete,jdbcType=INTEGER}, #{version,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.iidooo.core.dto.generate.DictClass" >
    insert into CORE_DICT_CLASS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="dictClassID != null" >
        DictClassID,
      </if>
      <if test="dictTypeCode != null" >
        DictTypeCode,
      </if>
      <if test="dictClassCode != null" >
        DictClassCode,
      </if>
      <if test="dictClassName != null" >
        DictClassName,
      </if>
      <if test="sequence != null" >
        Sequence,
      </if>
      <if test="remarks != null" >
        Remarks,
      </if>
      <if test="createTime != null" >
        CreateTime,
      </if>
      <if test="createUser != null" >
        CreateUser,
      </if>
      <if test="updateTime != null" >
        UpdateTime,
      </if>
      <if test="updateUser != null" >
        UpdateUser,
      </if>
      <if test="isDelete != null" >
        IsDelete,
      </if>
      <if test="version != null" >
        Version,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="dictClassID != null" >
        #{dictClassID,jdbcType=INTEGER},
      </if>
      <if test="dictTypeCode != null" >
        #{dictTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="dictClassCode != null" >
        #{dictClassCode,jdbcType=VARCHAR},
      </if>
      <if test="dictClassName != null" >
        #{dictClassName,jdbcType=VARCHAR},
      </if>
      <if test="sequence != null" >
        #{sequence,jdbcType=INTEGER},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null" >
        #{updateUser,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="version != null" >
        #{version,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.iidooo.core.dto.generate.DictClass" >
    update CORE_DICT_CLASS
    <set >
      <if test="dictTypeCode != null" >
        DictTypeCode = #{dictTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="dictClassCode != null" >
        DictClassCode = #{dictClassCode,jdbcType=VARCHAR},
      </if>
      <if test="dictClassName != null" >
        DictClassName = #{dictClassName,jdbcType=VARCHAR},
      </if>
      <if test="sequence != null" >
        Sequence = #{sequence,jdbcType=INTEGER},
      </if>
      <if test="remarks != null" >
        Remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CreateTime = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null" >
        CreateUser = #{createUser,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        UpdateTime = #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null" >
        UpdateUser = #{updateUser,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null" >
        IsDelete = #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="version != null" >
        Version = #{version,jdbcType=INTEGER},
      </if>
    </set>
    where DictClassID = #{dictClassID,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.iidooo.core.dto.generate.DictClass" >
    update CORE_DICT_CLASS
    set DictTypeCode = #{dictTypeCode,jdbcType=VARCHAR},
      DictClassCode = #{dictClassCode,jdbcType=VARCHAR},
      DictClassName = #{dictClassName,jdbcType=VARCHAR},
      Sequence = #{sequence,jdbcType=INTEGER},
      Remarks = #{remarks,jdbcType=VARCHAR},
      CreateTime = #{createTime,jdbcType=VARCHAR},
      CreateUser = #{createUser,jdbcType=INTEGER},
      UpdateTime = #{updateTime,jdbcType=VARCHAR},
      UpdateUser = #{updateUser,jdbcType=INTEGER},
      IsDelete = #{isDelete,jdbcType=INTEGER},
      Version = #{version,jdbcType=INTEGER}
    where DictClassID = #{dictClassID,jdbcType=INTEGER}
  </update>
</mapper>