<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.iidooo.core.dao.generate.DictItemMapper" >
  <resultMap id="BaseResultMap" type="com.iidooo.core.dto.generate.DictItem" >
    <id column="DictItemID" property="dictItemID" jdbcType="INTEGER" />
    <result column="DictClassCode" property="dictClassCode" jdbcType="VARCHAR" />
    <result column="DictItemCode" property="dictItemCode" jdbcType="VARCHAR" />
    <result column="DictItemName" property="dictItemName" jdbcType="VARCHAR" />
    <result column="DictItemValue" property="dictItemValue" jdbcType="VARCHAR" />
    <result column="Sequence" property="sequence" jdbcType="INTEGER" />
    <result column="IsDefault" property="isDefault" jdbcType="INTEGER" />
    <result column="IsDisable" property="isDisable" jdbcType="INTEGER" />
    <result column="IsReadonly" property="isReadonly" jdbcType="INTEGER" />
    <result column="Remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="CreateTime" property="createTime" jdbcType="VARCHAR" />
    <result column="CreateUser" property="createUser" jdbcType="INTEGER" />
    <result column="UpdateTime" property="updateTime" jdbcType="VARCHAR" />
    <result column="UpdateUser" property="updateUser" jdbcType="INTEGER" />
    <result column="IsDelete" property="isDelete" jdbcType="INTEGER" />
    <result column="Version" property="version" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    DictItemID, DictClassCode, DictItemCode, DictItemName, DictItemValue, Sequence, IsDefault, 
    IsDisable, IsReadonly, Remarks, CreateTime, CreateUser, UpdateTime, UpdateUser, IsDelete, 
    Version
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from CORE_DICT_ITEM
    where DictItemID = #{dictItemID,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from CORE_DICT_ITEM
    where DictItemID = #{dictItemID,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.iidooo.core.dto.generate.DictItem" >
    insert into CORE_DICT_ITEM (DictItemID, DictClassCode, DictItemCode, 
      DictItemName, DictItemValue, Sequence, 
      IsDefault, IsDisable, IsReadonly, 
      Remarks, CreateTime, CreateUser, 
      UpdateTime, UpdateUser, IsDelete, 
      Version)
    values (#{dictItemID,jdbcType=INTEGER}, #{dictClassCode,jdbcType=VARCHAR}, #{dictItemCode,jdbcType=VARCHAR}, 
      #{dictItemName,jdbcType=VARCHAR}, #{dictItemValue,jdbcType=VARCHAR}, #{sequence,jdbcType=INTEGER}, 
      #{isDefault,jdbcType=INTEGER}, #{isDisable,jdbcType=INTEGER}, #{isReadonly,jdbcType=INTEGER}, 
      #{remarks,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, #{createUser,jdbcType=INTEGER}, 
      #{updateTime,jdbcType=VARCHAR}, #{updateUser,jdbcType=INTEGER}, #{isDelete,jdbcType=INTEGER}, 
      #{version,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.iidooo.core.dto.generate.DictItem" >
    insert into CORE_DICT_ITEM
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="dictItemID != null" >
        DictItemID,
      </if>
      <if test="dictClassCode != null" >
        DictClassCode,
      </if>
      <if test="dictItemCode != null" >
        DictItemCode,
      </if>
      <if test="dictItemName != null" >
        DictItemName,
      </if>
      <if test="dictItemValue != null" >
        DictItemValue,
      </if>
      <if test="sequence != null" >
        Sequence,
      </if>
      <if test="isDefault != null" >
        IsDefault,
      </if>
      <if test="isDisable != null" >
        IsDisable,
      </if>
      <if test="isReadonly != null" >
        IsReadonly,
      </if>
      <if test="remarks != null" >
        Remarks,
      </if>
      <if test="createTime != null" >
        CreateTime,
      </if>
      <if test="createUser != null" >
        CreateUser,
      </if>
      <if test="updateTime != null" >
        UpdateTime,
      </if>
      <if test="updateUser != null" >
        UpdateUser,
      </if>
      <if test="isDelete != null" >
        IsDelete,
      </if>
      <if test="version != null" >
        Version,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="dictItemID != null" >
        #{dictItemID,jdbcType=INTEGER},
      </if>
      <if test="dictClassCode != null" >
        #{dictClassCode,jdbcType=VARCHAR},
      </if>
      <if test="dictItemCode != null" >
        #{dictItemCode,jdbcType=VARCHAR},
      </if>
      <if test="dictItemName != null" >
        #{dictItemName,jdbcType=VARCHAR},
      </if>
      <if test="dictItemValue != null" >
        #{dictItemValue,jdbcType=VARCHAR},
      </if>
      <if test="sequence != null" >
        #{sequence,jdbcType=INTEGER},
      </if>
      <if test="isDefault != null" >
        #{isDefault,jdbcType=INTEGER},
      </if>
      <if test="isDisable != null" >
        #{isDisable,jdbcType=INTEGER},
      </if>
      <if test="isReadonly != null" >
        #{isReadonly,jdbcType=INTEGER},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null" >
        #{updateUser,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="version != null" >
        #{version,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.iidooo.core.dto.generate.DictItem" >
    update CORE_DICT_ITEM
    <set >
      <if test="dictClassCode != null" >
        DictClassCode = #{dictClassCode,jdbcType=VARCHAR},
      </if>
      <if test="dictItemCode != null" >
        DictItemCode = #{dictItemCode,jdbcType=VARCHAR},
      </if>
      <if test="dictItemName != null" >
        DictItemName = #{dictItemName,jdbcType=VARCHAR},
      </if>
      <if test="dictItemValue != null" >
        DictItemValue = #{dictItemValue,jdbcType=VARCHAR},
      </if>
      <if test="sequence != null" >
        Sequence = #{sequence,jdbcType=INTEGER},
      </if>
      <if test="isDefault != null" >
        IsDefault = #{isDefault,jdbcType=INTEGER},
      </if>
      <if test="isDisable != null" >
        IsDisable = #{isDisable,jdbcType=INTEGER},
      </if>
      <if test="isReadonly != null" >
        IsReadonly = #{isReadonly,jdbcType=INTEGER},
      </if>
      <if test="remarks != null" >
        Remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CreateTime = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null" >
        CreateUser = #{createUser,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        UpdateTime = #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null" >
        UpdateUser = #{updateUser,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null" >
        IsDelete = #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="version != null" >
        Version = #{version,jdbcType=INTEGER},
      </if>
    </set>
    where DictItemID = #{dictItemID,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.iidooo.core.dto.generate.DictItem" >
    update CORE_DICT_ITEM
    set DictClassCode = #{dictClassCode,jdbcType=VARCHAR},
      DictItemCode = #{dictItemCode,jdbcType=VARCHAR},
      DictItemName = #{dictItemName,jdbcType=VARCHAR},
      DictItemValue = #{dictItemValue,jdbcType=VARCHAR},
      Sequence = #{sequence,jdbcType=INTEGER},
      IsDefault = #{isDefault,jdbcType=INTEGER},
      IsDisable = #{isDisable,jdbcType=INTEGER},
      IsReadonly = #{isReadonly,jdbcType=INTEGER},
      Remarks = #{remarks,jdbcType=VARCHAR},
      CreateTime = #{createTime,jdbcType=VARCHAR},
      CreateUser = #{createUser,jdbcType=INTEGER},
      UpdateTime = #{updateTime,jdbcType=VARCHAR},
      UpdateUser = #{updateUser,jdbcType=INTEGER},
      IsDelete = #{isDelete,jdbcType=INTEGER},
      Version = #{version,jdbcType=INTEGER}
    where DictItemID = #{dictItemID,jdbcType=INTEGER}
  </update>
</mapper>