@CHARSET "UTF-8";

#classify dl {
	clear: both;
	padding: 4px 0;
	font-size: 14px;
	overflow: hidden;
	margin: 0px;
}

#classify dt {
	float: left;
	width: 90px;
	text-align: right;
	margin-right: 7px;
	line-height: 27px;
	font-weight: bold;
}

#classify dd {
	float: left;
	margin: 0px;
	width: 860px;
	line-height: 26px;
	display: block;
}

#classify a {
	padding: 1px 7px;
	display: inline-block;
	line-height: 19px;
	float: left;
	margin: 3px;
	padding: 1px 7px;
}

#classify a:hover {
	color: white;
	background-color: #BF1C21;
	border-left: 1px solid transparent;
}

#products li {
	width: 245px;
	height: 300px;
	text-align: center;
	margin-bottom: 10px;
	border-bottom: 1px dotted #C1C1C1;
}

.image_title{
	width: 240px;
	height: 280px;
}
