@CHARSET "UTF-8";

* {
	margin: 0px;
	padding: 0px;
}

html {
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
	position: relative;
	font-family: "Arial", "宋体", "Microsoft YaHei", "Trebuchet MS",
		"Helvetica", "Verdana", "sans-serif";
	font-size: 12px;
	color: #000000;
}

iframe {
	width: 100%;
	height: 100%;
	border: none;
}

img {
	border: 0px;
	vertical-align: middle;
}

ol, ul, li {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

table {
	width: 100%;
	/* 自动换行 */
	table-layout: fixed;
	word-wrap: break-word;
	border-collapse: collapse;
	border-spacing: 0;
}

th {
	font-weight: normal;
}

td {
	background-color: white;
}

div {
	/* 自动换行 */
	word-wrap: break-word;
}

p {
	margin: 0px;
	/* text-indent: 2em; */
	word-wrap: break-word;
}

h1, h2, h3, h4 {
	margin: 0;
}

select {
	vertical-align: middle;
	position: relative;
	display: inline-block;
	padding: 5px 10px;
	font-size: 13px;
	font-weight: bold;
	color: #333;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	background-color: #EEE;
	background-image: -webkit-linear-gradient(#FCFCFC, #EEE);
	background-image: linear-gradient(#FCFCFC, #EEE);
	background-repeat: repeat-x;
	border: 1px solid #D5D5D5;
	border-radius: 3px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

button {
	border: 1px solid #5c8ebf;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,
		startColorstr=#75abda, endColorstr=#6698c9);
	background: -webkit-linear-gradient(#75abda, #6698c9);
	background: -moz-linear-gradient(#75abda, #6698c9);
	font-size: 14px;
	width: 68px;
	height: 30px;
	line-height: 30px;
	color: #FFFFFF;
	text-align: center;
	cursor: pointer;
}

button:hover {
	border: 1px solid #4f85b9;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,
		startColorstr=#67a1d4, endColorstr=#5d91c3);
	background: -webkit-linear-gradient(#67a1d4, #5d91c3);
	background: -moz-linear-gradient(#67a1d4, #5d91c3);
	box-shadow: 0 1px 3px #999;
	-webkit-box-shadow: 0 1px 3px #999;
	-moz-box-shadow: 0 1px 3px #999;
}

/* 链接的默认式样 */
a {
	text-decoration: none;
	cursor: pointer;
}

a:hover {
	cursor: pointer;
	color: #C1272D;
}

.input_text {
	border: 1px solid;
	border-color: #d8d8d8 #e5e5e5 #e5e5e5 #d8d8d8;
	box-shadow: 2px 3px 3px #f6f8f9 inset;
	-moz-box-shadow: 2px 3px 3px #f6f8f9 inset;
	-webkit-box-shadow: 2px 3px 3px #f6f8f9 inset;
	outline: none;
	padding: 0 8px;
	height: 26px;
	font-size: 12px;
	line-height: 26px;
	padding: 1px 8px;
	-webkit-transition-property: background-color, color, width,
		border-color;
	-webkit-transition-duration: .5s;
	-moz-transition-property: background-color, color, width, border-color;
	-moz-transition-duration: .5s;
	-o-transition-property: background-color, color, width, border-color;
	-o-transition-duration: .5s;
	transition-property: background-color, color, width, border-color;
	transition-duration: .5s;
	height: 26px;
}

.radio_label {
	margin-right: 10px;
}

/* 清除浮动 */
.clear {
	clear: both;
}

.readonly {
	background-color: #e5e5e5;
}

/* 隐藏 */
.hidden {
	visibility: hidden;
	display: none;
}

/* 显示 */
.show {
	display: block;
}

/* 左浮动排列 */
.left {
	float: left;
}

/* 右浮动排列 */
.right {
	float: right;
}

.frame {
	overflow: hidden;
	border-radius: 3px;
	border: 1px solid RGB(204, 204, 204);
}

/* 数据一览表 Start */
.list {
	cellspacing: 0px;
	cellpadding: 0px;
	border-collapse: collapse;
}

.list>tbody>tr>th {
	background-color: #134780;
	color: white;
	border: solid 1px #333333;
	padding: 5px;
}

.list>tbody>tr>td {
	border: solid 1px #333333;
	padding: 5px;
}
/* 数据一览表 End */

/* 数据详细表 Start */
.detail {
	cellspacing: 0px;
	cellpadding: 0px;
	border-collapse: collapse;
}

.detail>tbody>tr>th {
	background-color: #134780;
	color: white;
	border: solid 1px #333333;
	padding: 5px;
	text-align: right;
}

.detail>tbody>tr>td {
	border: solid 1px #333333;
	padding: 5px;
}

/* 数据详细表 End */


.block {
	margin-top: 10px;
}

/* The style of tabs */
#tabs {
	width: 100%;
	height: 100%;
}

#tabs .tabs {
	padding-left: 12px;
	height: 32px;
	background: url(../img/tabs_bg.jpg) repeat-x;
}

#tabs .tabs li {
	margin: 0 10px 0 0;
	letter-spacing: 1px;
	padding: 0px 12px;
	list-style-type: none;
	text-align: center;
	font-weight: 700;
	float: left;
	height: 32px;
	line-height: 32px;
}

#tabs .tabs .current {
	color: #C8000A;
	background: url(../img/tabs_cur_bg.jpg) repeat-x;
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
	cursor: pointer;
}

#tabs .contents {
	/* -webkit-box-shadow: 0 0 20px black; */
	padding: 5px;
	background: white;
	margin: -1px 0 0 0;
	height: 100%;
	width: 100%;
	position: relative;
}

/* 文本居中 */
.align_center {
	text-align: center;
	vertical-align: middle;
}

/* 文本右对齐 */
.align_right {
	text-align: right;
}

.align_left {
	text-align: left;
}

/* 文本垂直顶部对齐 */
.align_top {
	vertical-align: text-top;
}

/* 顶部的区域 Start*/
.top_wrap {
	width: 100%;
	background-color: #134780;
	height: 70px;
	color: #FFFFFF;
}

.top_wrap .logo_wrap {
	float: left;
}

.top_wrap .menu_wrap {
}

.top_wrap .menu_wrap .login_info {
	height: 30px;
}

.top_wrap .menu_wrap .login_info li {
	float: right;
	height: 30px;
	line-height: 30px;
	padding-right: 10px;
}

.top_wrap .menu_wrap .main_menu {
	float: left;
	margin: 0px;
	padding: 0px;
	font-size: 18px;
	height: 40px;
}

.top_wrap .menu_wrap .main_menu li {
	width: 100px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	float: left;
	margin: 0px;
	padding: 0px;
}

.top_wrap .menu_wrap a {
	color: #FFFFFF;
}

.top_wrap .menu_wrap a:hover {
	color: #FFFFFF;
	text-decoration: underline;
}

.top_wrap .menu_wrap .focus {
	color: #FFFFFF;
	text-decoration: underline;
}
/* 顶部的区域 End*/

/* 页面内容区域的共通样式 Start */
.page_content_wrap {
	overflow: hidden;
	height: 100%;
}

.page_content_left_wrap {
	float: left;
	width: 200px;
	height: 100%;
	overflow: hidden;
}

.page_content_right_wrap {
	margin-left: 200px;
	padding: 0 10px;
	height: 100%;
}
.page_content_980px {
	width: 980px;
	margin: 0 auto;
	box-shadow: 0 1px 3px 2px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 1px 3px 2px rgba(0, 0, 0, .2);
	-webkit-box-shadow: 0 1px 3px 2px rgba(0, 0, 0, .2);
	border: solid 1px #ededed;
	margin-top: 10px;
	color: #666;
	overflow: hidden;
	background: #f7f7f7;
}

.page_content_title {
	font-size: 22px;
	height: 46px;
	line-height: 46px;
	padding-left: 10px;
	background: -webkit-linear-gradient(#fff, #f7f7f7);
	background: -moz-linear-gradient(#fff, #f7f7f7);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,
		startColorstr=#ffffff, endColorstr=#f7f7f7);
}

.page_content_detail_780px {
	padding: 20px;
	float: left;
	width: 740px;
	border-top: solid 1px #e5e5e5;
	background-color: #fff;
	display: block;
}

.page_content_detail_title {
	font-size: 20px;
	color: #999;
	line-height: 1;
	padding-bottom: 11px;
	border-bottom: solid 2px #f2f2f2;
}
/* 页面内容区域的共通样式 End */

/* 侧边栏菜单的样式 Start */
.sidemenu {
	float: left;
	width: 200px;
	overflow: hidden;
}

.sidemenu_title {
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	border-top: solid 1px #e5e5e5;
	border-bottom: solid 1px #e5e5e5;
	border-right: 1px solid #e5e5e5;
	position: relative;
	background: -webkit-linear-gradient(#fff, #f2f2f2);
	background: -moz-linear-gradient(#fff, #f2f2f2);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,
		startColorstr=#ffffff, endColorstr=#f2f2f2);
}

.sidemenu_title>h3 {
	padding-left: 10px;
	font-weight: bold;
}

.sidemenu_title_active {
	border-left: 4px #2e82ff solid;
}

.sidemenu_item {
	padding-left: 20px;
	height: 35px;
	line-height: 35px;
	display: block;
	background: none;
	color: #666;
	border-right: 1px solid #e5e5e5;
}

.sidemenu_item_active {
	background: #fff;
	border-right: 1px solid #fff;
}

.sidemenu_item_split {
	margin: 0;
	border-top: solid 1px #dde3e9;
	height: 0;
	overflow: hidden;
	width: 199px;
	font-size: 0;
	line-height: 0;
}
/* 侧边栏菜单的样式 End */

/* 页脚 Start*/
.footer_wrap {
	margin-top: 10px;
	text-align: center;
	background-color: #000000;
	color: #FFFFFF;
	padding: 5px;
	width: 100%;
}

.footer_wrap dt {
	font-weight: bold;
	line-height: 30px;
	height: 30px;
	text-align: center;
}

.footer_wrap a {
	color: #FFFFFF;
}

.footer_wrap a:hover {
	color: #FFFFFF;
}
/* 页脚 End */
.tree_wrap {
	border: 1px solid RGB(200, 200, 200);
}

.tree_wrap .title {
	background-color: #134780;
	color: white;
	font-size: 14px;
	font-weight: normal;
	height: 30px;
	line-height: 30px;
	padding-left: 10px;
}

.tree_wrap .content {
	padding: 10px;
	font-size: 14px;
}

.tree_wrap .content_item {
	margin-bottom: 5px;
}

.tree_wrap .focus {
	font-weight: bold;
	text-decoration: underline;
}

/* The style of bread crumbs */
.bread_crumb {
	font-size: 14px;
	font-weight: normal;
	height: 30px;
	line-height: 30px;
}

.button_bar {
	margin-top: 10px;
}

.img-preview {
	width: 200px;
	height: 150px;
}

/* The style of struts's action error message */
.errorMessage {
	width: 80%;
	color: #911;
	background-color: #fcdede;
	border-color: #d2b2b2;
	font-weight: bold;
	margin-right: auto;
	margin-left: auto;
	padding: 10px;
}

.actionMessage {
	width: 80%;
	color: #911;
	background-color: #fcdede;
	border-color: #d2b2b2;
	font-weight: bold;
	margin-right: auto;
	margin-left: auto;
	padding: 10px;
}

/*The message box css*/
#message_box_overlay {
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: rgb(104, 104, 104);
	z-index: 1010;
	-moz-opacity: 0.8;
	opacity: .80;
	filter: alpha(opacity =               80);
}

#message_box_dialog {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 480px;
	margin-left: -240px;
	height: 300px;
	margin-top: -150px;
	padding: 0;
	_position: absolute;
	z-index: 1011;
	overflow: hidden;
}

#message_box_title {
	position: relative;
	padding-left: 5px;
	margin: 0;
	color: white;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
	background-color: #829AA8;
	border: 1px solid #768995;
	border-radius: 3px 3px 0 0;
	height: 40px;
	line-height: 40px;
}

#message_box_content {
	background-color: #F0F5F8;
}

#message_box_botton_bar {
	background-color: #F0F5F8;
}