@CHARSET "UTF-8";


/* 页脚 Start*/
.footer-wrap {
	margin-top: 10px;
	text-align: center;
	background-color: #000000;
	color: #FFFFFF;
	padding: 5px;
	width: 100%;
	clear: both;
}

.footer-wrap dt {
	font-weight: bold;
	line-height: 30px;
	height: 30px;
	text-align: center;
}

.footer-wrap a {
	color: #FFFFFF;
}

.footer-wrap a:hover {
	color: #FFFFFF;
}
/* 页脚 End */