@CHARSET "UTF-8";

#comicAlbum>.left_block_wrap {
	float: left;
	width: 310px;
}

#comicAlbum>.right_block_wrap {
	float: right;
	width: 660px;
}

#comicAlbum .titleImage {
	margin-left: 15px;
}

#comicAlbum .comicInfo {
	overflow: hidden;
}

.albums li {
	float: left;
	width: 145px;
	margin-right: 10px;
	height: 32px;
	padding-top: 4px;
	overflow-x: hidden;
	position: relative;
}

.albums li a {
	display: block;
	border-bottom: 1px dashed #E0E0E0;
	text-decoration: none;
	white-space: nowrap;
	font-size: 12px;
	color: #333;
	padding-bottom: 4px;
}

.albums li a i {
	font-style: normal;
	font-size: 12px;
	color: #999;
	padding-left: 6px;
	line-height: 26px;
}

.albums li a:hover {
	color: red;
	cursor: pointer;
	font-weight: bold;
}
}