@CHARSET "UTF-8";

html {
	height: 100%;
}

/* 网页body的统一式样 */
body {
	width: 100%;
	height: 100%;
	position: relative;
	font-family: "Microsoft YaHei", "宋体", "Trebuchet MS", "Arial",
		"Helvetica", "Verdana", "sans-serif";
	font-size: 12px;
	margin: 0 0 0 0;
	color: #333333;
	line-height: 150%;
	/* background-color: RGB(139, 1, 34); */
	/* background: url(../image/body.jpg) repeat-x top; */
}

iframe {
	width: 100%;
	height: 100%;
	border: none;
}

hr {
	margin: 18px 0;
	border: 0;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #fff;
}

img {
	/* 图片无边框 */
	border: 0px;
	vertical-align: middle;
}

ol, ul, li {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

table {
	/* 自动换行 */
	table-layout: fixed;
	word-wrap: break-word;
}

th {
	padding: 5px;
	margin: 0px;
}

td {
	padding: 5px;
	margin: 0px;
	background-color: white;
}

div {
	/* 自动换行 */
	word-wrap: break-word;
	overflow: hidden;
}

p {
	margin: 0px;
	/* text-indent: 2em; */
	word-wrap: break-word;
}

select {
	vertical-align: middle;
}

h1, h2, h3, h4 {
	margin: 0;
}

h1 {
	height: 22px;
	line-height: 22px;
	font-size: 18px;
	font-weight: normal;
}

h3 {
	height: 22px;
	line-height: 22px;
	font-size: 16px;
	font-weight: normal;
}

/* 链接的默认式样 */
a {
	text-decoration: none;
	cursor: pointer;
	color: black;
}

a:hover {
	cursor: pointer;
	color: #BF1C21;
}

/* 清除浮动 */
.clear {
	clear: both;
}

/* 隐藏 */
.hidden {
	visibility: hidden;
	display: none;
}

/* 显示 */
.show {
	display: block;
}

/* 左浮动排列 */
.left {
	float: left;
}

/* 右浮动排列 */
.right {
	float: right;
}

/* 区块的样式 */
.block {
	margin-top: 10px;
}

.block_title {
	border-bottom: 2px solid #CCC;
	background: white;
	line-height: 37px;
	/* color: #C1272D; */
	font-size: 21px;
}

.block_content {
	padding: 5px 0 5px 0;
	overflow: hidden;
}

.block_title_21_red {
	border-bottom: 2px solid #C1272D;
	background: white;
	line-height: 37px;
	color: #C1272D;
	font-size: 21px;
}

.block_content_item {
	border-bottom: 1px dashed #CCC;
	overflow: hidden;
	padding: 5px 0;
}

.block_content_item_title {
	overflow: hidden;
	display: block;
	float: left;
	width: 200px;
}

.block_content_item_date {
	overflow: hidden;
	display: block;
	float: right;
}

.frame {
	overflow: hidden;
	border: 1px solid RGB(204, 204, 204);
	background: white;
}

/* Data Grid View */
.grid {
	cellspacing: 0px;
	cellpadding: 0px;
	border-collapse: collapse;
}

.grid>tbody>tr>th {
	border: solid 1px #333333;
}

.grid>tbody>tr>td {
	border: solid 1px #333333;
}

/* The style of tabs */
#tabs {
	width: 100%;
	height: 100%;
}

#tabs .tabs {
	padding-left: 12px;
	height: 32px;
	background: url(../img/tabs_bg.jpg) repeat-x;
}

#tabs .tabs li {
	margin: 0 10px 0 0;
	letter-spacing: 1px;
	padding: 0px 12px;
	list-style-type: none;
	text-align: center;
	font-weight: 700;
	float: left;
	height: 32px;
	line-height: 32px;
}

#tabs .tabs .current {
	color: #C8000A;
	background: url(../img/tabs_cur_bg.jpg) repeat-x;
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
	cursor: pointer;
}

#tabs .contents {
	/* -webkit-box-shadow: 0 0 20px black; */
	padding: 5px;
	background: white;
	margin: -1px 0 0 0;
	height: 100%;
	width: 100%;
	position: relative;
}

/* 文本居中 */
.align_center {
	text-align: center;
	vertical-align: middle;
}

/* 文本右对齐 */
.align_right {
	text-align: right;
}

.align_left {
	text-align: left;
}

/* 文本垂直顶部对齐 */
.align_top {
	vertical-align: text-top;
}

/* 更多>> 链接 */
.more {
	font-size: 12px;
	font-weight: normal;
}

.more a {
	color: #0B8F45;
}

.more a:hover {
	cursor: pointer;
	color: #134780;
}

.title_zh {
	color: #134780;
}

.title_en {
	color: #888;
}

/* 网页内容部分的包裹 */
.body_wrap {
	width: 980px;
	margin-right: auto;
	margin-left: auto;
	overflow: hidden;
}

/* 页面的横幅部分 */
#banner {
	width: 100%;
	margin-top: 10px;
}

#banner img {
	width: 100%;
}

/* 顶部 */
#top {
	width: 100%;
	border-color: #666;
	background: black;
	color: white;
	height: 40px;
	line-height: 40px;
}

#top_left_menu>li {
	float: left;
	margin: auto 10px auto 0px;
}

#top_right_menu>li {
	float: left;
	margin: auto 0px auto 10px;
}

#logo {
	margin: 10px 0 0 0;
	height: 90px;
	line-height: 90px;
}

.logo img {
	height: 90px;
}

/* 主菜单 */
#mainmenu {
	background-color: RGB(82, 38, 59);
	height: 40px;
	margin: 10px 0px 0px 0px;
	overflow: hidden;
	color: white;
}

#mainmenu>li {
	width: 100px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	float: left;
	margin: 0px;
	padding: 0px;
	text-align: center;
}

/* 主菜单的超链接效果 */
#mainmenu>li>a {
	color: white;
	display: block;
}

#mainmenu>li>a:hover {
	background-color: #BF1C21;
	font-weight: bold;
}

.focus {
	background-color: #BF1C21;
	font-weight: bold;
	color: white;
}

/* 页脚 */
#foot {
	margin-top: 10px;
	text-align: center;
	background-color: RGB(54, 54, 54);
	color: RGB(204, 204, 204);
	padding: 5px;		/* 
	width:100%;
	Make the foot stay on the bottom
	bottom:0;
	position:fixed; */
}

#foot dt {
	font-weight: bold;
	line-height: 30px;
	height: 30px;
	text-align: center;
}

#foot a {
	color: RGB(204, 204, 204);
}

#foot a:hover {
	color: white;
}

/* The style of bread crumbs */
.breadCrumbs {
	color: #6F6B68;
	font-size: 14px;
	font-weight: normal;
	height: 30px;
	line-height: 30px;
	margin: 10px auto 0 auto;
	width: 980px;
}

.breadCrumbs>span {
	color: #0388C9;
}

.breadCrumbs a {
	color: #999;
}

strong {
	color: #F60;
	font-weight: normal;
}

.shadow {
	box-shadow: -1px 1px 5px 2px #999;
}