<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.iidooo.cms.dao.generate.ContentMapper" >
  <resultMap id="BaseResultMap" type="com.iidooo.cms.dto.generate.Content" >
    <id column="ContentID" property="contentID" jdbcType="INTEGER" />
    <result column="ChannelID" property="channelID" jdbcType="INTEGER" />
    <result column="CommentID" property="commentID" jdbcType="INTEGER" />
    <result column="ContentType" property="contentType" jdbcType="CHAR" />
    <result column="ContentTitle" property="contentTitle" jdbcType="VARCHAR" />
    <result column="ContentSubTitle" property="contentSubTitle" jdbcType="VARCHAR" />
    <result column="ContentImageTitle" property="contentImageTitle" jdbcType="VARCHAR" />
    <result column="MetaTitle" property="metaTitle" jdbcType="VARCHAR" />
    <result column="MetaKeywords" property="metaKeywords" jdbcType="VARCHAR" />
    <result column="MetaDescription" property="metaDescription" jdbcType="VARCHAR" />
    <result column="ContentSummary" property="contentSummary" jdbcType="VARCHAR" />
    <result column="IsSilent" property="isSilent" jdbcType="INTEGER" />
    <result column="Remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="CreateTime" property="createTime" jdbcType="VARCHAR" />
    <result column="CreateUser" property="createUser" jdbcType="INTEGER" />
    <result column="UpdateTime" property="updateTime" jdbcType="VARCHAR" />
    <result column="UpdateUser" property="updateUser" jdbcType="INTEGER" />
    <result column="IsDelete" property="isDelete" jdbcType="INTEGER" />
    <result column="Version" property="version" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.iidooo.cms.dto.generate.Content" extends="BaseResultMap" >
    <result column="ContentBody" property="contentBody" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ContentID, ChannelID, CommentID, ContentType, ContentTitle, ContentSubTitle, ContentImageTitle, 
    MetaTitle, MetaKeywords, MetaDescription, ContentSummary, IsSilent, Remarks, CreateTime, 
    CreateUser, UpdateTime, UpdateUser, IsDelete, Version
  </sql>
  <sql id="Blob_Column_List" >
    ContentBody
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from CMS_CONTENT
    where ContentID = #{contentID,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from CMS_CONTENT
    where ContentID = #{contentID,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.iidooo.cms.dto.generate.Content" >
    insert into CMS_CONTENT (ContentID, ChannelID, CommentID, 
      ContentType, ContentTitle, ContentSubTitle, 
      ContentImageTitle, MetaTitle, MetaKeywords, 
      MetaDescription, ContentSummary, IsSilent, 
      Remarks, CreateTime, CreateUser, 
      UpdateTime, UpdateUser, IsDelete, 
      Version, ContentBody)
    values (#{contentID,jdbcType=INTEGER}, #{channelID,jdbcType=INTEGER}, #{commentID,jdbcType=INTEGER}, 
      #{contentType,jdbcType=CHAR}, #{contentTitle,jdbcType=VARCHAR}, #{contentSubTitle,jdbcType=VARCHAR}, 
      #{contentImageTitle,jdbcType=VARCHAR}, #{metaTitle,jdbcType=VARCHAR}, #{metaKeywords,jdbcType=VARCHAR}, 
      #{metaDescription,jdbcType=VARCHAR}, #{contentSummary,jdbcType=VARCHAR}, #{isSilent,jdbcType=INTEGER}, 
      #{remarks,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, #{createUser,jdbcType=INTEGER}, 
      #{updateTime,jdbcType=VARCHAR}, #{updateUser,jdbcType=INTEGER}, #{isDelete,jdbcType=INTEGER}, 
      #{version,jdbcType=INTEGER}, #{contentBody,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.iidooo.cms.dto.generate.Content" >
    insert into CMS_CONTENT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="contentID != null" >
        ContentID,
      </if>
      <if test="channelID != null" >
        ChannelID,
      </if>
      <if test="commentID != null" >
        CommentID,
      </if>
      <if test="contentType != null" >
        ContentType,
      </if>
      <if test="contentTitle != null" >
        ContentTitle,
      </if>
      <if test="contentSubTitle != null" >
        ContentSubTitle,
      </if>
      <if test="contentImageTitle != null" >
        ContentImageTitle,
      </if>
      <if test="metaTitle != null" >
        MetaTitle,
      </if>
      <if test="metaKeywords != null" >
        MetaKeywords,
      </if>
      <if test="metaDescription != null" >
        MetaDescription,
      </if>
      <if test="contentSummary != null" >
        ContentSummary,
      </if>
      <if test="isSilent != null" >
        IsSilent,
      </if>
      <if test="remarks != null" >
        Remarks,
      </if>
      <if test="createTime != null" >
        CreateTime,
      </if>
      <if test="createUser != null" >
        CreateUser,
      </if>
      <if test="updateTime != null" >
        UpdateTime,
      </if>
      <if test="updateUser != null" >
        UpdateUser,
      </if>
      <if test="isDelete != null" >
        IsDelete,
      </if>
      <if test="version != null" >
        Version,
      </if>
      <if test="contentBody != null" >
        ContentBody,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="contentID != null" >
        #{contentID,jdbcType=INTEGER},
      </if>
      <if test="channelID != null" >
        #{channelID,jdbcType=INTEGER},
      </if>
      <if test="commentID != null" >
        #{commentID,jdbcType=INTEGER},
      </if>
      <if test="contentType != null" >
        #{contentType,jdbcType=CHAR},
      </if>
      <if test="contentTitle != null" >
        #{contentTitle,jdbcType=VARCHAR},
      </if>
      <if test="contentSubTitle != null" >
        #{contentSubTitle,jdbcType=VARCHAR},
      </if>
      <if test="contentImageTitle != null" >
        #{contentImageTitle,jdbcType=VARCHAR},
      </if>
      <if test="metaTitle != null" >
        #{metaTitle,jdbcType=VARCHAR},
      </if>
      <if test="metaKeywords != null" >
        #{metaKeywords,jdbcType=VARCHAR},
      </if>
      <if test="metaDescription != null" >
        #{metaDescription,jdbcType=VARCHAR},
      </if>
      <if test="contentSummary != null" >
        #{contentSummary,jdbcType=VARCHAR},
      </if>
      <if test="isSilent != null" >
        #{isSilent,jdbcType=INTEGER},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null" >
        #{updateUser,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="version != null" >
        #{version,jdbcType=INTEGER},
      </if>
      <if test="contentBody != null" >
        #{contentBody,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.iidooo.cms.dto.generate.Content" >
    update CMS_CONTENT
    <set >
      <if test="channelID != null" >
        ChannelID = #{channelID,jdbcType=INTEGER},
      </if>
      <if test="commentID != null" >
        CommentID = #{commentID,jdbcType=INTEGER},
      </if>
      <if test="contentType != null" >
        ContentType = #{contentType,jdbcType=CHAR},
      </if>
      <if test="contentTitle != null" >
        ContentTitle = #{contentTitle,jdbcType=VARCHAR},
      </if>
      <if test="contentSubTitle != null" >
        ContentSubTitle = #{contentSubTitle,jdbcType=VARCHAR},
      </if>
      <if test="contentImageTitle != null" >
        ContentImageTitle = #{contentImageTitle,jdbcType=VARCHAR},
      </if>
      <if test="metaTitle != null" >
        MetaTitle = #{metaTitle,jdbcType=VARCHAR},
      </if>
      <if test="metaKeywords != null" >
        MetaKeywords = #{metaKeywords,jdbcType=VARCHAR},
      </if>
      <if test="metaDescription != null" >
        MetaDescription = #{metaDescription,jdbcType=VARCHAR},
      </if>
      <if test="contentSummary != null" >
        ContentSummary = #{contentSummary,jdbcType=VARCHAR},
      </if>
      <if test="isSilent != null" >
        IsSilent = #{isSilent,jdbcType=INTEGER},
      </if>
      <if test="remarks != null" >
        Remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CreateTime = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null" >
        CreateUser = #{createUser,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        UpdateTime = #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null" >
        UpdateUser = #{updateUser,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null" >
        IsDelete = #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="version != null" >
        Version = #{version,jdbcType=INTEGER},
      </if>
      <if test="contentBody != null" >
        ContentBody = #{contentBody,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where ContentID = #{contentID,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.iidooo.cms.dto.generate.Content" >
    update CMS_CONTENT
    set ChannelID = #{channelID,jdbcType=INTEGER},
      CommentID = #{commentID,jdbcType=INTEGER},
      ContentType = #{contentType,jdbcType=CHAR},
      ContentTitle = #{contentTitle,jdbcType=VARCHAR},
      ContentSubTitle = #{contentSubTitle,jdbcType=VARCHAR},
      ContentImageTitle = #{contentImageTitle,jdbcType=VARCHAR},
      MetaTitle = #{metaTitle,jdbcType=VARCHAR},
      MetaKeywords = #{metaKeywords,jdbcType=VARCHAR},
      MetaDescription = #{metaDescription,jdbcType=VARCHAR},
      ContentSummary = #{contentSummary,jdbcType=VARCHAR},
      IsSilent = #{isSilent,jdbcType=INTEGER},
      Remarks = #{remarks,jdbcType=VARCHAR},
      CreateTime = #{createTime,jdbcType=VARCHAR},
      CreateUser = #{createUser,jdbcType=INTEGER},
      UpdateTime = #{updateTime,jdbcType=VARCHAR},
      UpdateUser = #{updateUser,jdbcType=INTEGER},
      IsDelete = #{isDelete,jdbcType=INTEGER},
      Version = #{version,jdbcType=INTEGER},
      ContentBody = #{contentBody,jdbcType=LONGVARCHAR}
    where ContentID = #{contentID,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.iidooo.cms.dto.generate.Content" >
    update CMS_CONTENT
    set ChannelID = #{channelID,jdbcType=INTEGER},
      CommentID = #{commentID,jdbcType=INTEGER},
      ContentType = #{contentType,jdbcType=CHAR},
      ContentTitle = #{contentTitle,jdbcType=VARCHAR},
      ContentSubTitle = #{contentSubTitle,jdbcType=VARCHAR},
      ContentImageTitle = #{contentImageTitle,jdbcType=VARCHAR},
      MetaTitle = #{metaTitle,jdbcType=VARCHAR},
      MetaKeywords = #{metaKeywords,jdbcType=VARCHAR},
      MetaDescription = #{metaDescription,jdbcType=VARCHAR},
      ContentSummary = #{contentSummary,jdbcType=VARCHAR},
      IsSilent = #{isSilent,jdbcType=INTEGER},
      Remarks = #{remarks,jdbcType=VARCHAR},
      CreateTime = #{createTime,jdbcType=VARCHAR},
      CreateUser = #{createUser,jdbcType=INTEGER},
      UpdateTime = #{updateTime,jdbcType=VARCHAR},
      UpdateUser = #{updateUser,jdbcType=INTEGER},
      IsDelete = #{isDelete,jdbcType=INTEGER},
      Version = #{version,jdbcType=INTEGER}
    where ContentID = #{contentID,jdbcType=INTEGER}
  </update>
</mapper>