<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
	<display-name>cms</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
	<!-- Config the SSO passport filter -->
	<filter>
		<filter-name>sso</filter-name>
		<filter-class>com.iidooo.passport.filter.SSOFilter</filter-class>
		<init-param>
			<param-name>PASSPORT_URL</param-name>
			<param-value>http://localhost:8080/passport</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>sso</filter-name>
		<url-pattern>*.action</url-pattern>
	</filter-mapping>

	<!-- 编码统一最好放最上面，最先加载，防止乱码 -->
	<filter>
		<filter-name>Set Character Encoding</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<!-- 强制进行转码 -->
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>Set Character Encoding</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- 资源URL编码过滤器 -->
	<filter>
		<filter-name>urlEncode</filter-name>
		<filter-class>com.iidooo.core.filter.UrlEncodeFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>urlEncode</filter-name>
		<url-pattern>*.jpg</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>urlEncode</filter-name>
		<url-pattern>*.gif</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>urlEncode</filter-name>
		<url-pattern>*.png</url-pattern>
	</filter-mapping>

	<!-- 配置Spring的监听器 -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:applicationContext.xml</param-value>
	</context-param>

	<!-- The listener of this application. Append the configuration of application need. -->
	<listener>
		<listener-class>com.iidooo.core.listener.ApplicationListener</listener-class>
	</listener>
	<context-param>
		<param-name>CORE_URL</param-name>
		<param-value>http://localhost:8080/core</param-value>
	</context-param>
	
	<listener>
		<listener-class>com.iidooo.passport.listener.ApplicationListener</listener-class>
	</listener>
	<context-param>
		<param-name>PASSPORT_URL</param-name>
		<param-value>http://localhost:8080/passport</param-value>
	</context-param>

	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>

	<jsp-config>
		<taglib>
			<taglib-uri>/cms-tags</taglib-uri>
			<taglib-location>/WEB-INF/tlds/cms-tags.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>/core-tags</taglib-uri>
			<taglib-location>/WEB-INF/tlds/core-tags.tld</taglib-location>
		</taglib>
	</jsp-config>
</web-app>
