<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.iidooo.framework.dao.generate.FieldConfigMapper" >
  <resultMap id="BaseResultMap" type="com.iidooo.framework.dto.generate.FieldConfig" >
    <id column="FieldID" property="fieldID" jdbcType="INTEGER" />
    <result column="ModelID" property="modelID" jdbcType="INTEGER" />
    <result column="TableName" property="tableName" jdbcType="VARCHAR" />
    <result column="FieldName" property="fieldName" jdbcType="VARCHAR" />
    <result column="FieldTitle" property="fieldTitle" jdbcType="VARCHAR" />
    <result column="FieldType" property="fieldType" jdbcType="INTEGER" />
    <result column="Sequence" property="sequence" jdbcType="INTEGER" />
    <result column="DictClassCode" property="dictClassCode" jdbcType="VARCHAR" />
    <result column="Remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="CreateTime" property="createTime" jdbcType="VARCHAR" />
    <result column="CreateUser" property="createUser" jdbcType="INTEGER" />
    <result column="UpdateTime" property="updateTime" jdbcType="VARCHAR" />
    <result column="UpdateUser" property="updateUser" jdbcType="INTEGER" />
    <result column="IsDelete" property="isDelete" jdbcType="INTEGER" />
    <result column="Version" property="version" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    FieldID, ModelID, TableName, FieldName, FieldTitle, FieldType, Sequence, DictClassCode, 
    Remarks, CreateTime, CreateUser, UpdateTime, UpdateUser, IsDelete, Version
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from IDO_FIELD_CONFIG
    where FieldID = #{fieldID,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from IDO_FIELD_CONFIG
    where FieldID = #{fieldID,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.iidooo.framework.dto.generate.FieldConfig" >
    insert into IDO_FIELD_CONFIG (FieldID, ModelID, TableName, 
      FieldName, FieldTitle, FieldType, 
      Sequence, DictClassCode, Remarks, 
      CreateTime, CreateUser, UpdateTime, 
      UpdateUser, IsDelete, Version
      )
    values (#{fieldID,jdbcType=INTEGER}, #{modelID,jdbcType=INTEGER}, #{tableName,jdbcType=VARCHAR}, 
      #{fieldName,jdbcType=VARCHAR}, #{fieldTitle,jdbcType=VARCHAR}, #{fieldType,jdbcType=INTEGER}, 
      #{sequence,jdbcType=INTEGER}, #{dictClassCode,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=VARCHAR}, #{createUser,jdbcType=INTEGER}, #{updateTime,jdbcType=VARCHAR}, 
      #{updateUser,jdbcType=INTEGER}, #{isDelete,jdbcType=INTEGER}, #{version,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.iidooo.framework.dto.generate.FieldConfig" >
    insert into IDO_FIELD_CONFIG
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fieldID != null" >
        FieldID,
      </if>
      <if test="modelID != null" >
        ModelID,
      </if>
      <if test="tableName != null" >
        TableName,
      </if>
      <if test="fieldName != null" >
        FieldName,
      </if>
      <if test="fieldTitle != null" >
        FieldTitle,
      </if>
      <if test="fieldType != null" >
        FieldType,
      </if>
      <if test="sequence != null" >
        Sequence,
      </if>
      <if test="dictClassCode != null" >
        DictClassCode,
      </if>
      <if test="remarks != null" >
        Remarks,
      </if>
      <if test="createTime != null" >
        CreateTime,
      </if>
      <if test="createUser != null" >
        CreateUser,
      </if>
      <if test="updateTime != null" >
        UpdateTime,
      </if>
      <if test="updateUser != null" >
        UpdateUser,
      </if>
      <if test="isDelete != null" >
        IsDelete,
      </if>
      <if test="version != null" >
        Version,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fieldID != null" >
        #{fieldID,jdbcType=INTEGER},
      </if>
      <if test="modelID != null" >
        #{modelID,jdbcType=INTEGER},
      </if>
      <if test="tableName != null" >
        #{tableName,jdbcType=VARCHAR},
      </if>
      <if test="fieldName != null" >
        #{fieldName,jdbcType=VARCHAR},
      </if>
      <if test="fieldTitle != null" >
        #{fieldTitle,jdbcType=VARCHAR},
      </if>
      <if test="fieldType != null" >
        #{fieldType,jdbcType=INTEGER},
      </if>
      <if test="sequence != null" >
        #{sequence,jdbcType=INTEGER},
      </if>
      <if test="dictClassCode != null" >
        #{dictClassCode,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null" >
        #{updateUser,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="version != null" >
        #{version,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.iidooo.framework.dto.generate.FieldConfig" >
    update IDO_FIELD_CONFIG
    <set >
      <if test="modelID != null" >
        ModelID = #{modelID,jdbcType=INTEGER},
      </if>
      <if test="tableName != null" >
        TableName = #{tableName,jdbcType=VARCHAR},
      </if>
      <if test="fieldName != null" >
        FieldName = #{fieldName,jdbcType=VARCHAR},
      </if>
      <if test="fieldTitle != null" >
        FieldTitle = #{fieldTitle,jdbcType=VARCHAR},
      </if>
      <if test="fieldType != null" >
        FieldType = #{fieldType,jdbcType=INTEGER},
      </if>
      <if test="sequence != null" >
        Sequence = #{sequence,jdbcType=INTEGER},
      </if>
      <if test="dictClassCode != null" >
        DictClassCode = #{dictClassCode,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        Remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CreateTime = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null" >
        CreateUser = #{createUser,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        UpdateTime = #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null" >
        UpdateUser = #{updateUser,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null" >
        IsDelete = #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="version != null" >
        Version = #{version,jdbcType=INTEGER},
      </if>
    </set>
    where FieldID = #{fieldID,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.iidooo.framework.dto.generate.FieldConfig" >
    update IDO_FIELD_CONFIG
    set ModelID = #{modelID,jdbcType=INTEGER},
      TableName = #{tableName,jdbcType=VARCHAR},
      FieldName = #{fieldName,jdbcType=VARCHAR},
      FieldTitle = #{fieldTitle,jdbcType=VARCHAR},
      FieldType = #{fieldType,jdbcType=INTEGER},
      Sequence = #{sequence,jdbcType=INTEGER},
      DictClassCode = #{dictClassCode,jdbcType=VARCHAR},
      Remarks = #{remarks,jdbcType=VARCHAR},
      CreateTime = #{createTime,jdbcType=VARCHAR},
      CreateUser = #{createUser,jdbcType=INTEGER},
      UpdateTime = #{updateTime,jdbcType=VARCHAR},
      UpdateUser = #{updateUser,jdbcType=INTEGER},
      IsDelete = #{isDelete,jdbcType=INTEGER},
      Version = #{version,jdbcType=INTEGER}
    where FieldID = #{fieldID,jdbcType=INTEGER}
  </update>
</mapper>