@CHARSET "UTF-8";

#mainmenu_wrap {
	background-color: #134780;
	width: 100%;
}

#mainmenu_content {
	height: 40px;
	width: 980px;
	margin: 0 auto;
	overflow: hidden;
	color: #CCC;
}

#mainmenu_content ul {
	margin: 0px;
	padding: 0px;
	font-size: 14px;
	height: 40px;
}

#mainmenu_content ul li {
	width: 100px;
	height: 40px;
	line-height: 40px;
	text-align : center;
	float: left;
	margin: 0px;
	padding: 0px;
	text-align: center;
}

/* 主菜单的超链接效果 */
#mainmenu_content a {
	color: #CCC;
	display: block;
}

#mainmenu_content a:hover {
    background-color: RGB(0, 32, 133);
	font-weight: bold;
}

#mainmenu_content .focus {
	background-color: RGB(0, 32, 133);
	font-weight: bold;
}