@CHARSET "UTF-8";

#left_content {
	float: left;
	width: 300px;
}

#right_content {
	float: right;
	width: 680px;
}

#aboutus {
	margin: 0px 15px 0px 0px;
}

/* 首页新闻一览区域的样式 */
/* #news {
	margin: 20px 15px 5px 0px;
} */
/* #news .cmscontent {
	首页新闻自动撑大
	overflow: hidden;
	border-bottom: 1px dashed #C0C9D0;
	padding-bottom: 5px;
	margin-bottom: 5px;
} */
/* #news .cmscontent_title {
	首页新闻标题左浮动
	float: left;
} */
/* #news .cmscontent_date {
	首页新闻日期右浮动
	float: right;
} */

#contact {
	margin: 5px 15px 5px 0px;
}

#contact .item{
	/* 联系项下部间隔5像素 */
	margin-bottom: 5px;	
	font-weight:bold;
}

#service {
	margin: 0px 0px 0px 15px;
}

#service .content_item {
	border-bottom: 1px dashed #C0C9D0;
	overflow: hidden;
	padding: 5px;
}

#service .content_item_picture {
	float: left;
	width: 200px;
	height: 150px;
	margin-right: 10px;
}

#service .content_item_picture img {
	width: 200px;
	height: 150px;
}

#service .content_item_text {
	float: left;
	/* service的内容限制宽度，否则内容太长会撑破div */
	width: 430px;
}

#service .content_item_text .content_item_title {
	color: #ff0000;
	font-weight: bold;
	margin-bottom: 5px;
}

#product {
	margin: 20px 0px 5px 15px;
}

#case {
	margin: 20px 5px 5px 5px;
	background-color: grey;
}