@CHARSET "UTF-8";

#services .content_item {
	overflow: hidden;
	float: left;
	width: 240px;
	height: 100px;
	margin-right: 5px;
	margin-top: 5px;
	/* background-color: #134780; */
}

#services .content_item_image {
	float: left;
	width: 100px;
	height: 100px;
	margin: 5px;
}

#service .content_item_image img {
    width: 200px;
    height: 150px;
}

#services>.block_content>.content_item>.content_item_title{
	margin: 5px;
}

#services>.block_content .main_title {
	display: block;
	color: #888;
	font-weight: bold;
}

#services>.block_content .sub_title {
	color: #CCC;
	color: RGB(170, 170, 170);
}

