@CHARSET "UTF-8";

#mainmenu_wrap {
	background-color: #134780;
	width: 100%;
}

#mainmenu_content {
	height: 40px;
	width: 980px;
	margin: 0 auto;
	overflow: hidden;
	color: #CCC;
}

#mainmenu_content ul {
	margin: 0px;
	padding: 0px;
	font-size: 14px;
	height: 100%;
}

#mainmenu_content ul li {
	width: 120px;
	height: 37px;
	line-height: 37px;
	text-align: center;
	float: left;
}

#mainmenu_content a {
	color: #CCC;
}

#mainmenu_content .focus {
	font-weight: bold;
	text-decoration: underline;
}

#mainmenu_content .focus a {
	padding: 8px 20px;
}