@CHARSET "UTF-8";

#top_wrap {
	/* background: url(../image/top/top_bg.jpg) repeat-x; */
	width: 100%;
	height: 100px;
	/* position: fixed; */
	/* top: 0; */
	/* z-index: 999999999; */
	/* box-shadow: 0 1px 8px #666; */
}

#top_content {
	width: 980px;
	margin: 0 auto;
	overflow: hidden;
}

#top_logo{
	line-height: 91px;
    height: 91px;
    vertical-align: middle;
    display: table-cell;
}