body {
    padding-top: 100px;
    padding-bottom: 40px;
    background-color: #eee;
}

#login {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

#login .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

#login input[type="text"] {
    margin-bottom: -1px;
}

#login input[type="password"] {
    margin-bottom: 10px;
}