<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.iidooo.cms.dao.generate.CmsAttachMapper" >
  <resultMap id="BaseResultMap" type="com.iidooo.cms.dto.generate.CmsAttach" >
    <id column="AttachID" property="attachID" jdbcType="INTEGER" />
    <result column="AlbumID" property="albumID" jdbcType="INTEGER" />
    <result column="TemplateID" property="templateID" jdbcType="INTEGER" />
    <result column="Name" property="name" jdbcType="VARCHAR" />
    <result column="SubName" property="subName" jdbcType="VARCHAR" />
    <result column="URL" property="URL" jdbcType="VARCHAR" />
    <result column="Weight" property="weight" jdbcType="INTEGER" />
    <result column="Remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="CreateTime" property="createTime" jdbcType="VARCHAR" />
    <result column="CreateUser" property="createUser" jdbcType="INTEGER" />
    <result column="UpdateTime" property="updateTime" jdbcType="VARCHAR" />
    <result column="UpdateUser" property="updateUser" jdbcType="INTEGER" />
    <result column="IsDelete" property="isDelete" jdbcType="INTEGER" />
    <result column="Version" property="version" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    AttachID, AlbumID, TemplateID, Name, SubName, URL, Weight, Remarks, CreateTime, CreateUser, 
    UpdateTime, UpdateUser, IsDelete, Version
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ido_cms_attach
    where AttachID = #{attachID,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ido_cms_attach
    where AttachID = #{attachID,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.iidooo.cms.dto.generate.CmsAttach" >
    insert into ido_cms_attach (AttachID, AlbumID, TemplateID, 
      Name, SubName, URL, 
      Weight, Remarks, CreateTime, 
      CreateUser, UpdateTime, UpdateUser, 
      IsDelete, Version)
    values (#{attachID,jdbcType=INTEGER}, #{albumID,jdbcType=INTEGER}, #{templateID,jdbcType=INTEGER}, 
      #{name,jdbcType=VARCHAR}, #{subName,jdbcType=VARCHAR}, #{URL,jdbcType=VARCHAR}, 
      #{weight,jdbcType=INTEGER}, #{remarks,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, 
      #{createUser,jdbcType=INTEGER}, #{updateTime,jdbcType=VARCHAR}, #{updateUser,jdbcType=INTEGER}, 
      #{isDelete,jdbcType=INTEGER}, #{version,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.iidooo.cms.dto.generate.CmsAttach" >
    insert into ido_cms_attach
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="attachID != null" >
        AttachID,
      </if>
      <if test="albumID != null" >
        AlbumID,
      </if>
      <if test="templateID != null" >
        TemplateID,
      </if>
      <if test="name != null" >
        Name,
      </if>
      <if test="subName != null" >
        SubName,
      </if>
      <if test="URL != null" >
        URL,
      </if>
      <if test="weight != null" >
        Weight,
      </if>
      <if test="remarks != null" >
        Remarks,
      </if>
      <if test="createTime != null" >
        CreateTime,
      </if>
      <if test="createUser != null" >
        CreateUser,
      </if>
      <if test="updateTime != null" >
        UpdateTime,
      </if>
      <if test="updateUser != null" >
        UpdateUser,
      </if>
      <if test="isDelete != null" >
        IsDelete,
      </if>
      <if test="version != null" >
        Version,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="attachID != null" >
        #{attachID,jdbcType=INTEGER},
      </if>
      <if test="albumID != null" >
        #{albumID,jdbcType=INTEGER},
      </if>
      <if test="templateID != null" >
        #{templateID,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="subName != null" >
        #{subName,jdbcType=VARCHAR},
      </if>
      <if test="URL != null" >
        #{URL,jdbcType=VARCHAR},
      </if>
      <if test="weight != null" >
        #{weight,jdbcType=INTEGER},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null" >
        #{updateUser,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="version != null" >
        #{version,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.iidooo.cms.dto.generate.CmsAttach" >
    update ido_cms_attach
    <set >
      <if test="albumID != null" >
        AlbumID = #{albumID,jdbcType=INTEGER},
      </if>
      <if test="templateID != null" >
        TemplateID = #{templateID,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        Name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="subName != null" >
        SubName = #{subName,jdbcType=VARCHAR},
      </if>
      <if test="URL != null" >
        URL = #{URL,jdbcType=VARCHAR},
      </if>
      <if test="weight != null" >
        Weight = #{weight,jdbcType=INTEGER},
      </if>
      <if test="remarks != null" >
        Remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CreateTime = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null" >
        CreateUser = #{createUser,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        UpdateTime = #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null" >
        UpdateUser = #{updateUser,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null" >
        IsDelete = #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="version != null" >
        Version = #{version,jdbcType=INTEGER},
      </if>
    </set>
    where AttachID = #{attachID,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.iidooo.cms.dto.generate.CmsAttach" >
    update ido_cms_attach
    set AlbumID = #{albumID,jdbcType=INTEGER},
      TemplateID = #{templateID,jdbcType=INTEGER},
      Name = #{name,jdbcType=VARCHAR},
      SubName = #{subName,jdbcType=VARCHAR},
      URL = #{URL,jdbcType=VARCHAR},
      Weight = #{weight,jdbcType=INTEGER},
      Remarks = #{remarks,jdbcType=VARCHAR},
      CreateTime = #{createTime,jdbcType=VARCHAR},
      CreateUser = #{createUser,jdbcType=INTEGER},
      UpdateTime = #{updateTime,jdbcType=VARCHAR},
      UpdateUser = #{updateUser,jdbcType=INTEGER},
      IsDelete = #{isDelete,jdbcType=INTEGER},
      Version = #{version,jdbcType=INTEGER}
    where AttachID = #{attachID,jdbcType=INTEGER}
  </update>
</mapper>