@CHARSET "UTF-8";

.left_block_wrap>#left_block_1 {
	
}

.right_block_wrap>#right_block_1 {
	height: 240px;
}

.comicList li {
	float: left;
	width: 144px;
	height: 215px;
}

.comicList li a {
	display: block;
	position: relative;
	overflow: hidden;
	cursor: pointer;
}

.comicList img {
	width: 137px;
	height: 185px;
}

.comicList li .subTitle {
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	color: white;
	background-color: black;
	width: 100%;
	text-align: center;
	height: 19px;
	width: 137px;
	opacity: 0.6;
	filter: alpha(opacity = 50);
}

.comicList li .title {
	display: block;
	width: 100%;
	height: 26px;
	text-decoration: none;
	line-height: 28px;
	_line-height: 21px;
	text-align: center;
	color: #333;
	font-size: 14px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	font-weight: bold;
	-o-text-overflow: ellipsis;
}

.comicList li .title:hover {
	color: #03618F;
}

.comicList li .play {
	position: absolute;
	display: block;
	top: 50%;
	left: 50%;
	width: 52px;
	height: 51px;
	margin: -25px 0 0 -26px;
	background: url(../img/playicon_50.png) 0 0 no-repeat;
}

.comicTitleList li {
	float: left;
	width: 100px;
}